<% content_for :title, "Gamehedge - " + @league.name %>
<div>

    <div class="view-container">
        <div class="view-frame animate-view">
          <span id="home" class=leagues>
            <section id="hero" style="background: transparent url(<%= @league.image_url %>) center;background-size:cover;">
              <div id="shader"></div>
              <div id="wrapper">
                <div id="content">
                  <div class="container">
                    <p class="hidden-md hidden-lg hidden-xl"><%= @league.name.upcase %> Tickets with Good Game Guarantee!</p>
                    <div id="hero-search" class="">
                      <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                        <input type="hidden" name="type" value="full" />
                        <div class="form-group">
                          <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                          <input id="search_element" type="text" class="form-control typeahead" placeholder="Search team, venue or player..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        </div>
                      </form>
                    </div>
                    <p class="hidden-xs hidden-sm"><%= @league.name.upcase %> Tickets with Good Game Guarantee!</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="good-game-guarantee" class="hidden-xs hidden-sm">
              <div class="container">
                <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

                <div class="content-background">
                  <div class="content">
                    <div class="col-md-4 division">
                      <div class="col-xs-5 section">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon ticket.png">
                      </div>
                      <div class="col-xs-7 section2">
                        <h2>BUY TICKETS</h2>
                        <p>
                          Find your game and purchase your tickets.<br>
                          Good Game Guarantee is included at no additional cost with every ticket.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 division center-div">
                      <div class="col-xs-5 section">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon stadium.png">
                      </div>
                      <div class="col-xs-7 section2">
                        <h2>ENJOY GAME</h2>
                        <p>
                          If the home team loses by <%= @league.ggg %> or more, you get 50% of ticket price back.
                        </p>
                        <!-- <div class="col-xs-6 block">
                          <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/football icon.png">
                          17 points
                        </div>
                        <div class="col-xs-6 block">
                          <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/basketball icon.png">
                          20 points
                        </div>
                        <div class="col-xs-6 block">
                          <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/baseball icon.png">
                          5 runs
                        </div>
                        <div class="col-xs-6 block">
                          <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/hockey icon.png">
                          4 goals
                        </div> -->
                      </div>
                    </div>
                    <div class="col-md-4 division">
                      <div class="col-xs-5 section">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon coin.png">
                      </div>
                      <div class="col-xs-7 section2">
                        <h2>CLAIM MONEY</h2>
                        <p>
                          Simply come back to GameHedge.com to claim your refund.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            
              <section id="near-events">
                <div class="container">
                  <div class="title">UPCOMING GAMES NEAR YOU</div>
                  
                  <span id="next_events_holder">
                    <div id="home-loading-data" class="row horizontal-center" ng-if="loading">
                      <div class='uil-default-css' style='transform:scale(0.32);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
                    </div>
            <section id="divisions" ng-if="!loading">
                  </span>
                </div>
              </section>
            
            <section id="divisions">
              <div class="container divisions-container">
                <% @divisions.where(is_main_division: true).order(:name).each do |main_division| %>
                  <div class="col-md-6 text-center main-division-container">
                    <p class="main-division"><%= main_division.name %></p>
                    <% @divisions.where(is_main_division: false).where(division_id: main_division.id).each do |division| %>
                      <div class="small-division">
                        <%= main_division.name.upcase %> <%= division.name.upcase %> TICKETS
                        <div class="small-division-back row">
                          <div class="small-division-front">
                            <% @performers.where(division_id: division.id).order('wins DESC, name').each do |performer| %>
                              <div class="row performer-detail">
                                <div class="league-detail-table hidden-md hidden-lg hidden-xl">
                                  <div class="league-detail-image">
                                    <a href="<%= performer.url %>"><img src="<%= performer.image_url_medium %>"></a>
                                  </div>
                                  <div class="league-detail-text">
                                      <a class="detail-title" href="<%= performer.url %>"><%= performer.name %></a>
                                      <% if performer.venue %>
                                        <p class="detail-text">Stadium <a href="<%= performer.venue.url %>"><%= performer.venue.name %></a></p>
                                      <% end %>
                                      <div>
                                          <table>
                                            <thead>
                                              <tr>
                                                <th class="right-cell">
                                                  W
                                                </th>
                                                <th class="left-cell">
                                                  L
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td class="right-cell">
                                                  <%= performer.wins %>
                                                </td>
                                                <td class="left-cell">
                                                  <%= performer.losses %>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                  </div>
                                </div>
                                  
                                <div class="col-xs-4 col-md-3 image hidden-xs hidden-sm">
                                  <div class="dummy"></div>
                                  <div class="img-container">
                                    <div class="centerer mobile-upper"></div>
                                    <a href="<%= performer.url %>"><img src="<%= performer.image_url_medium %>"></a>
                                  </div>
                                </div>
                                <div class="col-xs-8 col-md-7 name hidden-xs hidden-sm">
                                  <a href="<%= performer.url %>"><%= performer.name %></a>
                                  <% if performer.venue %>
                                    <p>Stadium <a href="<%= performer.venue.url %>"><%= performer.venue.name %></a></p>
                                  <% end%>
                                </div>
                                <div class="col-xs-3 col-md-2 score hidden-xs hidden-sm">
                                  <table>
                                    <thead>
                                      <tr>
                                        <th>
                                          W
                                        </th>
                                        <th>
                                          L
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <%= performer.wins %>
                                        </td>
                                        <td>
                                          <%= performer.losses %>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </section>
            <section id="about">
              <div class="page-title">ABOUT <%= @league.name.upcase %></div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 description">
                    <%= raw @league.description %>
                  </div>
                </div>
              </div>
            </section>
              
            <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
                <div class="container">
                  <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

                  <div class="content-background-mobile">
                    <div class="content-mobile">
                       <slick settings="slickConfig">
                          
                          <div class="row table-element">
                            <div class="section-mobile table-ele-cell first-ele">
                              <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon ticket.png">
                            </div>
                            <div class="section2-mobile table-ele-cell second-ele">
                              <h2>BUY TICKETS</h2>
                              <p>
                                Find your game and purchase your tickets.<br>
                                Good Game Guarantee is included at no additional cost with every ticket.
                              </p>
                            </div>
                          </div>
                          <div class="row table-element">
                            <div class="section-mobile table-ele-cell first-ele">
                              <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon stadium.png">
                            </div>
                            <div class="section2-mobile table-ele-cell second-ele">
                              <h2>ENJOY GAME</h2>
                              <p>
                                If the home team loses by <%= @league.ggg %> or more, you get 50% of ticket price back.
                              </p>
                              <!--div class="row">
                                <div class="fifty-perc block">
                                  <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/football icon.png">
                                  <div>17 points</div>
                                </div>
                                <div class="fifty-perc block">
                                  <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/basketball icon.png">
                                  <div>20 points</div>
                                </div>
                              </div-->
                              <!--div class="row">
                                <div class="fifty-perc block">
                                  <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/baseball icon.png">
                                  <div>5 runs</div>
                                </div>
                                <div class="fifty-perc block">
                                  <img class="icon-img" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/hockey icon.png">
                                  <div>4 goals</div>
                                </div>
                              </div-->
                            </div>
                          </div>
                          <div class="row table-element">
                            <div class="section-mobile table-ele-cell first-ele">
                              <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/icon coin.png">
                            </div>
                            <div class="section2-mobile table-ele-cell second-ele">
                              <h2>CLAIM MONEY</h2>
                              <p>
                                Simply come back to GameHedge.com to claim your refund.
                              </p>
                            </div>
                          </div> 
                      </slick>
                    </div>
                  </div>
                </div>
            </section>
          </span>
          
        </div>
    </div>
 

<%= javascript_include_tag 'bootstrap3-typeahead.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment', 'data-turbolinks-track' => true %>


<script>
  $(document).ready(function(){
    $(".intro-full").addClass("hidden");
    //*******************************Typeahead INIT****************************************
    var now = new Date();
    now.setHours(now.getHours() + 1);
    var today_date = [[AddZero(now.getFullYear()), AddZero(now.getMonth() + 1), now.getDate()].join("-"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
    function AddZero(num) {
        return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    $('.typeahead').typeahead({
      source: function (query, process) {
        return $.get("/search", { search: query, limit: 4, today_date: today_date }, function (data) {
          return process(data);
        });
      },
      afterSelect: function (item) {
        console.log(item.url);
        window.location.href = item.url;
      },
      fitToElement: true,
    });
      //*******************************Typeahead INIT end****************************************
      //*******************************Get near events****************************************
    url = '/events/next/?type=events&id='+<%= @id %>+'&source=league&page=1&perpage=50&geolocated=true';  
    $.ajax({
      url: url,
      success: function(response2){
        next_events = response2;
        console.log("Next events");
        console.log(next_events);
        if(next_events != null){
            for(j=next_events.length - 1;j>=0;j--){
                // if(next_events[j].performances.length != 2){
                //     next_events.splice(j,1);
                // }
                if(next_events[j] != undefined){
                    if(moment().add(1,'h').isAfter(String(next_events[j].occurs_at).replace('Z',''))) {
                        next_events.splice(j, 1);
                    }
                }
            }
        }
        if(next_events.length == 0){
          $("#near-events").addClass("hidden");
        }
        else{
          var htm = "";
          var ax = 4;
          if(next_events.length < 4){
            ax = next_events.length
          }
          for(i=0;i<ax;i++){
            event = next_events[i];
            var url2 = event.url + '/' + event.name.split('/').join('-').split(' ').join('-') + '-tickets';
            var event_date = moment(event.occurs_at.replace("Z",""));
            var date_text = "";
            var venue_name = "";
            if(event_date.format('hh:mm A') == '12:00 AM'){
              date_text = "TBD";
            }
            else{
              date_text = event_date.format('hh:mm A')
            }
            if(event.venue == undefined){
              venue_name = '';
            }
            else{
              venue_name = event.venue.name;
            }
            htm += '<div class="col-md-3 mobile-near-events"><a href="'+url2+'"><div class="back"><div class="front"><div class="date-holder"><div class="date-inner"><p class="date1">'+event_date.format('MMM').toUpperCase()+'</p><p class="date2">'+event_date.format('DD')+'</p><p class="date3">'+event_date.format('ddd')+'</p></div></div><div class="event-holder"><p class="teams">'+event.name+'</p><p class="event3"><span class="at">'+date_text+' </span><span class="stadium">'+venue_name+'</span></p><p class="event4">'+event.available_count+' tickets left</p></div><button>Buy Tickets</button></div></div></a></div>'

          }
          $("#next_events_holder").html(htm);
          $("#home-loading-data").addClass("hidden");
        }
      },
      error: function(response2){
        $("#near-events").addClass("hidden");
      },
    });
      //*******************************Get near events end ****************************************
  });
</script>