
<script type="text/javascript">
  

var objet = {
  "list": [
    {
      "id": "188288490",
      "price": "95.0",
      "section": "BALCONY",
      "row": "V",
      "avail": "",
      "qty": "4",
      "notes": "rien"
    },
    {
      "id": "193592892",
      "price": "109.0",
      "section": "MAIN FLOOR",
      "row": "AA",
      "avail": "",
      "qty": "2",
      "notes": "rien"
    },
    {
      "id": "188288486",
      "price": "109.0",
      "section": "MAIN FLOOR",
      "row": "CC",
      "avail": "",
      "qty": "4",
      "notes": "rien"
    },
    {
      "id": "188288483",
      "price": "115.0",
      "section": "LOGE",
      "row": "G",
      "avail": "",
      "qty": "2",
      "notes": "rien"
    },
    {
      "id": "188806638",
      "price": "131.3",
      "section": "SEC B",
      "row": "F",
      "avail": "",
      "qty": "2",
      "notes": "rien"
    },
    {
      "id": "188288489",
      "price": "79.0",
      "section": "BALCONY",
      "row": "W",
      "avail": "",
      "qty": "4",
      "notes": "rien"
    },
    {
      "id": "188288487",
      "price": "99.0",
      "section": "BALCONY",
      "row": "R",
      "avail": "",
      "qty": "7",
      "notes": "rien"
    },
    {
      "id": "192217452",
      "price": "79.0",
      "section": "BALCONY",
      "row": "W",
      "avail": "",
      "qty": "4",
      "notes": "rien"
    },
    {
      "id": "188288491",
      "price": "119.0",
      "section": "Loge",
      "row": "G",
      "avail": "",
      "qty": "6",
      "notes": "rien"
    },
    {
      "id": "188288484",
      "price": "136.3",
      "section": "ORCHESTRA",
      "row": "S",
      "avail": "",
      "qty": "6",
      "notes": "rien"
    }
  ]
}

                        var DVM_map_params = {
                            'client_id': '99',
                            'map_name': 'seatzone_map',
                            'key_map_name': 'map_key',
                            'tickets_container': 'ticketsx',
                            'map_width': 800,
                            'map_height': 700,
                            'feed_type': 'te',
                            'event_id': '',
                            'venue_id': '447',
                            'static_map': '',
                            'venue_conf': '3173',
                            'headliner_id': '',
                                    
                            'tickets_data_object': objet,

                        };
                        console.log("DVM_map_params")
                        console.log(DVM_map_params);
                        // $.getJSON("/tick/447_3173.json", function (data) {
                        //     DVM_map_params['tickets_data_object'] = data;
                        //     console.log("DVM_map_params 2")
                        //     console.log(DVM_map_params);
                        // });



                    
  
</script>
<link rel="stylesheet" href="https://dynamicvenuemaps.com/maps/css/style_maps.css">
<script src="https://dynamicvenuemaps.com/maps/dvm.js?v=1.0"></script>
<div id="mapkey">
  <div id="seatzone_map"></div>
  <div id="map_key"></div>
</div>


<div class="col-xs-12 tickets-data" id="ticketsx">
   <% @tickets.each do |ticket|%>
     <div class="row rowTicket" data-section="<%= ticket["section"] %>" data-row="<%= ticket["row"] %>" data-price="<%= ticket["retail_price"] %>" data-ticketid="<%= ticket["id"] %>">
      <div class="hidden-xs hidden-sm col-xs-1 info-ico">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<%= ticket["public_notes"] %>"></span>
      </div>
      <div class="col-xs-4 col-md-3 vertical-center horizontal-center section full-height">
        <%= ticket["section"] %>
      </div>
      <div class="col-xs-2 vertical-center horizontal-center full-height">
        <%= ticket["row"] %>
      </div>
      <div class="col-xs-2 vertical-center horizontal-center full-height custom-select">
        <select class="rowAvail">
          <% ticket["splits"].each do |o|%>
            <option value="<%= o %>"><%= o %></option>
          <% end %>
        </select>
      </div>
      <div class="col-xs-4 vertical-center horizontal-center buy-btn full-height">
        <span class="buy-btn-span">
          <button class="" >$<%= ticket["retail_price"] %>/ea</button>
          <p class="format"><%= ticket["format"] %></p>
        </span>
      </div>
    </div>
  <% end %>
</div>