<div ng-controller="MenuBarController">
<div class="mobile-menu main-menu-transition" ng-if="showMainMenu" ng-show="!$root.isOrder">
    <div class="mobile-menu-header">
        <div class="row">
            <div class="col-xs-2">
                <div ng-click="hideMenus()">
                    <img src="<%= image_url 'close-menu.png' %>" class="img-header">
                </div>
            </div>
            <div class="navbar-header col-xs-8">
                <a href="/#/" ng-click="hideMenus()">
                    <img class="logo-image menu" alt="GameHedge" src="<%= image_url 'logo.png' %>">
                </a>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="menu-container">
        <div class="row menu-row" ng-show="!$root.isLoggedin">
            <div class="col-xs-3"><img class="user-icon" src="<%= image_url "profile icon.png" %>"></div>
            <div class="col-xs-9"><a href="/#/login" ng-click="hideMenus()">Login</a></div>
        </div>
        <div class="row menu-row" ng-show="$root.isLoggedin">
            <div class="col-xs-3"><img class="user-icon" src="<%= image_url "profile icon.png" %>"></div>
            <div class="col-xs-9"><p>{{$root.user.name | uppercase}}</p></div>
        </div>
        <div class="row menu-row" ng-show="$root.isLoggedin">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="/#/member" ng-click="hideMenus()">Your profile</a></div>
        </div>
        <div class="row menu-row" ng-show="$root.isLoggedin">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a  href="/#/order-history" ng-click="hideMenus()">Order history</a></div>
        </div>
        <div class="row menu-row" ng-show="$root.isLoggedin">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a ng-click="logout()" ng-click="hideMenus()">Logout</a></div>
        </div>

        <div class="row menu-row separator" ng-repeat-start="league in leagueList" ng-if="$first">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="{{league.url}}" ng-click="hideMenus()">{{league.name | uppercase}}</a></div>
        </div>
        <div class="row menu-row" ng-repeat-end ng-if="!$first">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="{{league.url}}" ng-click="hideMenus()">{{league.name | uppercase}}</a></div>
        </div>


        <div class="row menu-row separator">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="/#/press/" ng-click="hideMenus()">Press</a></div>
        </div>
        <div class="row menu-row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="/blog/" ng-click="hideMenus()">Blog</a></div>
        </div>
        <div class="row menu-row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="/#/faq/" ng-click="hideMenus()">FAQ</a></div>
        </div>
        <div class="row menu-row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9"><a href="/#/contact/" ng-click="hideMenus()">Contact Us</a></div>
        </div>
    </div>
    <div class="mobile-menu-footer">
        <h2>Connect with us</h2>
        <nav role="navigation" class="footer-social-media">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="<%= image_url "facebook-footer.png" %>" alt="Facebook" /></a>          
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="<%= image_url "twitter-footer.png" %>" alt="Twitter" /></a>          
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="<%= image_url "instagram-footer.png" %>" alt="Instagram" /></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<script type="text/ng-template" id="typeahead/bind-node.html">
    <a href="/#{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
</script>
<div class="mobile-menu search-menu-transition" ng-if="showSearchMenu" ng-show="!$root.isOrder">
    <div class="mobile-menu-header">
            <div class="navbar-header search-header col-xs-10">
                <img src="<%= image_url 'search icon.png' %>">
                <input type="text" placeholder="search tickets" ng-model="searchTerm" ng-change="getSearchHints(searchTerm)">
            </div>
            <div class="col-xs-2">
                <div ng-click="hideMenus()">
                    <img src="<%= image_url 'close-menu.png' %>" class="img-header">
                </div>
            </div>
        
    </div>
    <div class="results-container">
        <div ng-repeat="result in searchResults">
            <a ng-href="result.url" ng-click="hideMenus()">{{result.name}}</a>
        </div>
    </div>
    <div class="mobile-menu-footer">
        <h2>Connect with us</h2>
        <nav role="navigation" class="footer-social-media">
            
                    <div class="col-xs-4">
                        <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="<%= image_url "facebook-footer.png" %>" alt="Facebook" /></a>          
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="<%= image_url "twitter-footer.png" %>" alt="Twitter" /></a>          
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="<%= image_url "instagram-footer.png" %>" alt="Instagram" /></a>
                    </div>
               
        </nav>
    </div>
</div>

<div ng-class="{'dark-header': $root.darkHeader}">
    <nav class="navbar navbar-default navbar-gamehedge vertical-center">

        <div class="col-xs-2 hidden-md hidden-lg" ng-show="!$root.isOrder">
            <div class="navbar navbar-default navbar-fixed-top">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#slideMenu" data-canvas="body" ng-click="showSlideMain()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-header col-md-4 col-xs-8">
            <a href="/#/">
                <img class="logo-image" alt="GameHedge" src="<%= image_url 'logo.png' %>">
            </a>
        </div>
        <div class="navbar-header col-md-8 hidden-xs hidden-xm vertical-center help" ng-show="$root.isOrder">
                  
                <p>NEED HELP? CALL TO<br><span>(908) 312-3267</span></p>
                <img class="help-image" alt="Call Us" src="<%= image_url "help.png" %>">
            
        </div>
        <div class="col-xs-2 hidden">
            <div class="navbar navbar-default navbar-fixed-top right">
                <button type="button" class="navbar-toggle search-button" style="padding-top:0;" data-toggle="offcanvas" data-target="#searchMenu" data-canvas="body" ng-click="showSlideSearch()">
                    <img src="<%= image_url 'search icon.png' %>">
                </button>
            </div>
        </div>
        <div class="navbar-leagues col-md-4 hidden-sm hidden-xs vertical-center horizontal-center" ng-show="!$root.isOrder">
            <a class="" href="{{league.url}}" ng-repeat="league in leagueList | orderBy:'name' track by $index" ng-if="league.active == true">{{league.name | uppercase}}</a>
        </div>

        <div class="navbar-myaccount col-md-2 hidden-sm hidden-xs" ng-show="!$root.isOrder">
            <div class="press" ng-show="$root.locat == '/'">
                <a ><img class="user-icon" src="<%= image_url "press-icon.png" %>">PRESS</a>
            </div>
            </div>
        <div class="navbar-myaccount col-md-2 hidden-sm hidden-xs" ng-show="!$root.isOrder">
            <div class="dropdown" ng-show="$root.isLoggedin">
                <button class="dropdown-toggle myaccount-btn" type="button" data-toggle="dropdown"><img class="user-icon" src="<%= image_url "profile icon.png" %>">{{$root.user.name | uppercase}}<img class="dropdown-icon" src="<%= image_url "dropdown.png" %>"></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/#/member">Your Profile</a></li>
                    <li><a href="/#/order_history">Order History</a></li>
                    <li><a ng-click="logout()" ng-show="$root.isLoggedin">Logout</a></li>
                </ul>
            </div>
            <div class="dropdown login" ng-show="!$root.isLoggedin">
                <a href="/#/login"><img class="user-icon" src="<%= image_url "profile icon.png" %>">LOGIN</a>
            </div>
        </div>
    </nav>
</div>
<div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
</div>




<footer ng-show="!$root.noFooter">
    <div class="container">
        <div class="row hidden-xs hidden-sm" id="data_footer">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="footer-nav">
                    <h2>What to Know</h2>
                    <nav role="navigation">
                        <ul>
                            <li><a href="/#/our-terms">Terms</a></li>
                            <li><a href="/#/faq">Privacy</a></li>
                            <li><a href="/#/faq">FAQ</a></li>
                            <li><a href="/#/contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="footer-nav">
                    <h2>Important Links</h2>
                    <nav role="navigation">
                        <ul>
                            <li><a href="/#/how-it-works">How it Works</a></li>
                            <li><a href="/#/member">My Account</a></li>
                            <li><a href="/#/press">Press</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-nav">
                    <h2>Connect with us</h2>
                    <nav role="navigation" class="footer-social-media">
                        <a href="http://www.facebook.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="<%= image_url "facebook-footer.png" %>" alt="Facebook" /></a>
                        <a href="http://www.twitter.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="<%= image_url "twitter-footer.png" %>" alt="Twitter" /></a>
                        <a href="http://www.instagram.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="<%= image_url "instagram-footer.png" %>" alt="Instagram" /></a>
                        <div class="container hidden-md hidden-lg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="<%= image_url "facebook-footer.png" %>" alt="Facebook" /></a>          
                                </div>
                                <div class="col-xs-4">
                                    <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="<%= image_url "twitter-footer.png" %>" alt="Twitter" /></a>          
                                </div>
                                <div class="col-xs-4">
                                    <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="<%= image_url "instagram-footer.png" %>" alt="Instagram" /></a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <h3>Enter email to receive updates and deals</h3>
                    <div class="footer-email-container">
                        <input type="text" name="email" class="form-control footer-input">
                        <button class="btn footer-btn">SEND</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-nav text-center">
                    <div class="col-md-4"><img src="<%= image_url "badge-gamehedge.png" %>" alt="GameHedge" /></div>
                </div>
            </div>
        </div>
        <div class="footer-signature">
            <img src="<%= image_url "GameHedge_Logo_Footer.png" %>" alt="Gamehedge" />
            <div class="footer-bottom clearfix">
                © <%= @year %> GameHedge and Good Game Guarantee are trademarks of GameHedge LLC.<br>All Rights Reserved. Patent Pending.
            </div>
        </div>
    </div>
</footer>
<div growl></div>
</div>
        
   
