<% content_for :title, "Gamehedge - Home" %>

    <div class="view-container">
        <div class="view-frame animate-view">
            
            <span id="home">
              <section id="hero">
                <div id="shader"></div>
                <div id="wrapper">
                  <div id="content">
                    <div class="container">
                      <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
                      <div id="hero-search">
                        <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                          <input type="hidden" name="type" value="full" />
                          <div class="form-group">
                            <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                            <input id="search_element" type="text" class="form-control typeahead" placeholder="Search team, venue or player..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        </form>
                      </div>
                      
                    </div>
                    <div class="press-images hidden-xs hidden-sm">
                      <div class="container">
                        <div class="spacing-div">AS FEATURED IN</div>
                        <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                        <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                        <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                        <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                        <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

             <!--  <script type="text/ng-template" id="typeahead/bind-node.html">
                <a href="{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
              </script> -->

              <main>
                <section id="good-game-guarantee" class="hidden-xs hidden-sm">
                  <div class="container">
                    <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

                    <div class="content-background">
                      <div class="content">
                        <div class="col-md-4 division">
                          <div class="col-xs-5 section">
                            <img src="<%= image_url "icon ticket.png" %>">
                          </div>
                          <div class="col-xs-7 section2">
                            <h2>BUY TICKETS</h2>
                            <p>
                              Find your game and purchase your tickets.<br>
                              Good Game Guarantee is included at no additional cost with every ticket.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4 division center-div">
                          <div class="col-xs-5 section">
                            <img src="<%= image_url "icon stadium.png" %>">
                          </div>
                          <div class="col-xs-7 section2">
                            <h2>ENJOY GAME</h2>
                            <p>
                              If the home team loses by the amount below or more, you get 50% of your ticket price back.
                            </p>
                            <div class="row">
                              <div class="col-xs-6 block">
                                <img class="icon-img" src="<%= image_url "football icon.png" %>">
                                17 points
                              </div>
                              <div class="col-xs-6 block">
                                <img class="icon-img" src="<%= image_url "basketball icon.png" %>">
                                20 points
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-6 block">
                                <img class="icon-img" src="<%= image_url "baseball icon.png" %>">
                                5 runs
                              </div>
                              <div class="col-xs-6 block">
                                <img class="icon-img" src="<%= image_url "hockey icon.png" %>">
                                4 goals
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 division">
                          <div class="col-xs-5 section">
                            <img src="<%= image_url "icon coin.png" %>">
                          </div>
                          <div class="col-xs-7 section2">
                            <h2>CLAIM MONEY</h2>
                            <p>
                              Simply come back to GameHedge.com to claim your refund.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                  

                        <!-- TILES -->
                <section id="tiles">
                  <div class="container">
                    <div id="results">
                      <div class="grid row">
                        <div class="grid-sizer"></div>
                        <% @tiles.each do |tile| %>
                          <div class="grid-item">
                            <div id="tile-info-<%= tile.id %>">
                              <a href="<%= tile.url %>">
                                <% if tile.image_url && tile.image_url != '/images/original/missing.png'%>
                                  <% if tile.tile_type.id == 1 %>
                                    <div class="performer-name"><%= tile.sport.name.upcase %></div>
                                  <% elsif tile.tile_type.id == 2 %>
                                    <div class="performer-name"><%= tile.performer.name.upcase %></div>
                                  <% elsif tile.tile_type.id == 3 %>
                                    <div class="performer-name"><%= tile.venue.name.upcase %></div>
                                  <% end %>
                                  <img src="<%= tile.image_url %>">
                                <% end %>
                                <% if tile.tile_type.id == 1 || tile.tile_type.id == 3 || tile.tile_type.id == 4 %>
                                  <div class="info-container">
                                    <% if tile.tile_type.id == 1  %>
                                      <div class="tile-title"><%= tile.sport.name %> Games</div>
                                    <% elsif tile.tile_type.id == 3  %>
                                      <% if tile.has_geolocation == false %>
                                        <div class="tile-title"><%= tile.venue.name %></div>
                                      <% else %>
                                        <div class="tile-title"></div>
                                      <% end %>
                                    <% elsif tile.tile_type.id == 4  %>
                                      <div class="tile-title"><%= tile.name %></div>
                                    <% end %>
                                    <div class="tile-description"><%= tile.description %></div>
                                  </div>
                                <% end %>
                              </a>
                                    <!-- TILE EVENTS -->
                              
                              <% if tile.tile_type.id == 4 %>
                                <div class="tile-event hidden-xs hidden-sm">
                                  <a href="<%= tile.event1.url %>">
                                    <div class="row">
                                      <div class="col-xs-4 date-holder">
                                        <p class="date1"><%= tile.event1.occurs_at.strftime('%^b') %></p>
                                        <p class="date2"><%= tile.event1.occurs_at.strftime('%d') %></p>
                                        <p class="date3"><%= tile.event1.occurs_at.strftime('%^a') %></p>  
                                      </div><div class="col-xs-8 event-holder">
                                        <p><span class="event1"><%= tile.event1.name %></span></p>
                                        <p class="event3">
                                          <% if tile.event1.occurs_at.strftime('%H:%M:%S') == "00:00:00" %>
                                            <span class="at">TBD</span>
                                          <% else %>
                                            <span class="at"><%= tile.event1.occurs_at.strftime('%l:%M:%S %p') %>
                                          <% end %>
                                          at </span> <%= tile.event1.venue.name %>
                                        </p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <div class="tile-event hidden-xs hidden-sm" ng-if="tile.tile_type.id == 4">
                                  <a href="<%= tile.event2.url %>">
                                    <div class="row">
                                      <div class="col-xs-4 date-holder">
                                        <p class="date1"><%= tile.event2.occurs_at.strftime('%^b') %></p>
                                        <p class="date2"><%= tile.event2.occurs_at.strftime('%d') %></p>
                                        <p class="date3"><%= tile.event2.occurs_at.strftime('%^a') %></p>  
                                      </div>


                                      <div class="col-xs-8 event-holder">
                                        <p><span class="event1"><%= tile.event2.name %></span></p>
                                        <p class="event3">
                                          <% if tile.event2.occurs_at.strftime('%H:%M:%S') == "00:00:00" %>
                                            <span class="at">TBD</span>
                                          <% else %>
                                            <span class="at"><%= tile.event2.occurs_at.strftime('%l:%M:%S %p') %>
                                          <% end %>
                                          at </span> <%= tile.event2.venue.name %>
                                        </p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <div class="tile-event hidden-xs hidden-sm" ng-if="tile.tile_type.id == 4">
                                  <a href="<%= tile.event3.url %>">
                                    <div class="row">
                                      <div class="col-xs-4 date-holder">
                                       <p class="date1"><%= tile.event3.occurs_at.strftime('%^b') %></p>
                                        <p class="date2"><%= tile.event3.occurs_at.strftime('%d') %></p>
                                        <p class="date3"><%= tile.event3.occurs_at.strftime('%^a') %></p>  
                                      </div>


                                      <div class="col-xs-8 event-holder">
                                        <p><span class="event1"><%= tile.event3.name %></span></p>
                                        <p class="event3">
                                          <% if tile.event3.occurs_at.strftime('%H:%M:%S') == "00:00:00" %>
                                            <span class="at">TBD</span>
                                          <% else %>
                                            <span class="at"><%= tile.event3.occurs_at.strftime('%l:%M:%S %p') %>
                                          <% end %>
                                          at </span> <%= tile.event3.venue.name %>
                                        </p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              <% else %>
                                <span id="events-loaded-<%= tile.id %>"></span>
                                <div id="home-loading-data-<%= tile.id %>" class="row horizontal-center">
                                  <div class='uil-default-css' style='transform:scale(0.32);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                                  </div>
                                </div>
                              <% end %>
                                  <!-- TILE EVENTS END -->
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </section>
                        <!-- TILES END-->
                  
                <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
                  <div class="container">
                    <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

                    <div class="content-background-mobile">
                      <div class="content-mobile">
                         <slick settings="slickConfig">
                            
                            <div class="row table-element">
                              <div class="section-mobile table-ele-cell first-ele">
                                <img src="<%= image_url 'icon ticket.png' %>">
                              </div>
                              <div class="section2-mobile table-ele-cell second-ele">
                                <h2>BUY TICKETS</h2>
                                <p>
                                  Find your game and purchase your tickets.<br>
                                  Good Game Guarantee is included at no additional cost with every ticket.
                                </p>
                              </div>
                            </div>
                            <div class="row table-element">
                              <div class="section-mobile table-ele-cell first-ele">
                                <img src="<%= image_url 'icon stadium.png' %>">
                              </div>
                              <div class="section2-mobile table-ele-cell second-ele">
                                <h2>ENJOY GAME</h2>
                                <p>
                                  If the home team loses by amount below or more, you get 50% of your ticket price back.
                                </p>
                                <div class="row">
                                  <div class="fifty-perc block">
                                    <img class="icon-img" src="<%= image_url 'football icon.png' %>">
                                    <div>17 points</div>
                                  </div>
                                  <div class="fifty-perc block">
                                    <img class="icon-img" src="<%= image_url 'basketball icon.png' %>">
                                    <div>20 points</div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="fifty-perc block">
                                    <img class="icon-img" src="<%= image_url 'baseball icon.png' %>">
                                    <div>5 runs</div>
                                  </div>
                                  <div class="fifty-perc block">
                                    <img class="icon-img" src="<%= image_url 'hockey icon.png' %>">
                                    <div>4 goals</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row table-element">
                              <div class="section-mobile table-ele-cell first-ele">
                                <img src="<%= image_url 'icon coin.png' %>">
                              </div>
                              <div class="section2-mobile table-ele-cell second-ele">
                                <h2>CLAIM MONEY</h2>
                                <p>
                                  Simply come back to GameHedge.com to claim your refund.
                                </p>
                              </div>
                            </div> 
                        </slick>  
                      </div>
                    </div>
                  </div>
                </section>
                  
                <!-- <section id="how-video" class="hidden-xs hidden-sm">
                  <div class="page-title">HOW DOES THE GOOD GAME GUARANTEE WORK</div>
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 how-video-mobile">
                        <div class="videoWrapper">
                          <iframe src="https://player.vimeo.com/video/153604637" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/153604637">GameHedge Video</a> from <a href="https://vimeo.com/user41979068">Warren Friss</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section> -->
                <section id="home-why" class="hidden-xs hidden-sm">
                  <div class="page-title">WE ARE FANS LIKE YOU</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-12 hidden-md hidden-lg"><img src="<%= image_url "icon-fans.png" %>" alt="Fans" /></div>
                        <div class="col-md-8">
                          <p>We invest our time, our passion and our cash supporting our teams. Sometimes things are amazing! Our favorite hitter launches a walk-off rocket to the upper deck; our QB throws a TD to the back of the end zone with 12 ticks left; or our rookie sharp-shooter hits a fade away 3 at the buzzer. Woo hoo!!</p>
                          <p>But ... sometimes the team just doesn't return the love. You spend $400 on tix for the family, fight traffic for 3 hours and then ... well it's 6-0 in the fourth and your ace flame thrower heads to the showers with a tweaked hammie. If you're a true fan, you've been there.</p>
                          <p>That's why we created GameHedge.</p>
                          <p>We're fans like you.</p>
                        </div>
                        <div class="col-md-4 hidden-sm hidden-xs"><img src="<%= image_url "icon-fans.png" %>" alt="Fans" /></div>
                      </div>
                    </div>
                </section>
              </main>
            </span>
        </div>
    </div>


<%= javascript_include_tag 'bootstrap3-typeahead.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment', 'data-turbolinks-track' => true %>





<script>
  $(document).ready(function(){
    $(".intro-full").addClass("hidden2");
      //*******************************Typeahead INIT****************************************
    var now = new Date();
    now.setHours(now.getHours() + 1);
    var today_date = [[AddZero(now.getFullYear()), AddZero(now.getMonth() + 1), now.getDate()].join("-"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
    function AddZero(num) {
        return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    $('.typeahead').typeahead({
      source: function (query, process) {
        return $.get("/search", { search: query, limit: 4, today_date: today_date }, function (data) {
          return process(data);
        });
      },
      afterSelect: function (item) {
        console.log(item.url);
        window.location.href = item.url;
      },
      fitToElement: true,
    });
      //*******************************Typeahead INIT end****************************************
      //*******************************Masonry INIT****************************************
    setTimeout(function(){
      $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        gutter: 23,
      });
    },50);
      //*******************************Masonry INIT end****************************************
      //*******************************Get Tiles****************************************
    url = '/api/v1/tiles/';  
    $.ajax({
      method: 'get',
      url: url,
      headers: {
         'Authorization': 'Token token="TokenHere"'
      },
      success: function(response){
        tiles = response;
        for(i=0;i<tiles.length;i++){
          if(tiles[i].tile_type.id != 4){
            getNextEvents(i);
          }
        }
      },
      error: function(response){
      },
    });
      //*******************************Get Tiles end****************************************
      //*******************************Get Near events****************************************
    function getNextEvents(index){
      var id = 0;
      var url = "";
      source = "";
      if(tiles[index].tile_type != undefined){
        if(tiles[index].tile_type.id == '1'){
          id = tiles[index].sport.id;
          source = "league";
        }
        else if(tiles[index].tile_type.id == '2'){
          id = tiles[index].performer.te_uid;  
          source = "team";
        }
        else if(tiles[index].tile_type.id == '3'){
          if(tiles[index].has_geolocation == false){
            id = tiles[index].venue.te_uid;
          }
          else{
            id = 0;
          }
          source = "venue";
        }
      }
      if(tiles[index].has_geolocation == true){
        url = '/events/next/?type=events&id='+id+'&source='+source+'&page=1&perpage=50&geolocated=true';
      }
      else{
        url = '/events/next/?type=events&id='+id+'&source='+source+'&page=1&perpage=50';
      }
      $.ajax({
          method: 'GET',
          url: url,
          success: function(response){
            if(tiles[index].tile_type.id == '3' && tiles[index].has_geolocation == true){
              $("#tile-info-"+String(tiles[index].id)).find('a').attr('href',response.venue.url)
              $("#tile-info-"+String(tiles[index].id)).find('.performer-name').html(response.venue.name.toUpperCase());
              $("#tile-info-"+String(tiles[index].id)).find('.tile-title').html(response.venue.name);
              tiles[index].events = response.events;
            }
            else{
              tiles[index].events = response;
            }
            if(tiles[index].events != null){
              for(j=tiles[index].events.length - 1;j>=0;j--){
                if(tiles[index].events[j] != undefined){
                  if(moment().add(1,'h').isAfter(String(tiles[index].events[j].occurs_at).replace('Z',''))) {
                      tiles[index].events.splice(j, 1);
                  }
                }
              }
            }
            var htm = ""
            for(i=0;i<tiles[index].events.length;i++){
              var event = tiles[index].events[i];
              var event_date = moment(event.occurs_at.replace("Z",""));
              if(event_date.format('hh:mm A') == '12:00 AM'){
                date_text = "TBD";
              }
              else{
                date_text = event_date.format('hh:mm A')
              }
              htm += '<div class="tile-event hidden-xs hidden-sm"><a href="'+event.url+'/'+event.name.split('/').join('-').split(' ').join('-')+ '-tickets"><div class="row"><div class="col-xs-4 date-holder"><p class="date1">'+event_date.format('MMM').toUpperCase()+'</p><p class="date2">'+event_date.format('DD')+'</p><p class="date3">'+event_date.format('ddd')+'</p></div><div class="col-xs-8 event-holder"><p><span class="event1">'+event.name+'</span></p><p class="event3"><span class="at">'+date_text+' at</span> '+event.venue.name+'</p><p class="event4">'+event.available_count+' tickets left</p></div></div></a></div>';
              if(i == 2){
                break;
              }
            }
            $("#home-loading-data-"+String(tiles[index].id)).addClass("hidden");
            $("#events-loaded-"+String(tiles[index].id)).html(htm);
            setTimeout(function(){
              $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                gutter: 23,
              });
            },10);
        
          },error:function(response) {
        
        }
      });
    }
      //*******************************Get Near events end****************************************
  });
</script>
   
