<% content_for :title, "Gamehedge - Login" %>

<section id="confirmation">
  <div class="container" style="justify-content: center;display: flex;">
    <div class="row" style="max-width:500px">
      <div class="col-xs-12">
        <h1>LOGIN</h1>
        <div class="outter">
          <div class="inner">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row update-password" ng-if="!forgot_password">
                <div class="col-xs-12">
                  <%= f.email_field :email, autofocus: true %>
                </div>
                <div class="col-xs-12">
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
                <div class="col-xs-12">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
                <div class="col-xs-12">
                  <%= f.submit "Log in" %>
                </div>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
