<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    
  <body>
    <p>Customer <%= @user.name %>  has requested a GameHedge Refund. Ticket Evolution Order ID: <%= @order.te_order_id %> Local Order ID: <%= @order.id %> Customer ID: <%= @user.te_uid %> Customer Name: <%= @user.name %> Customer Email: <%= @user.email %></p>
  </body>
    
</html>
