<script>
	//mixpanel.track("Order Complete", {"OrderID":"{{order.te_order_id}}"});
</script>

<div id="home-loading-data" class="row horizontal-center" ng-show="loading">
  <div class='uil-default-css' style='transform:scale(0.32);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
  </div>
</div>
<span id="home" ng-show="!loading">	
	<section id="confirmation">
		<div class="container">
			<div class="row" style="margin: 4px;">
				<div class="col-xs-12">
					<h1>THANK YOU FOR YOUR ORDER</h1>
					<h4>Your order number is {{order.te_order_id}}</h4>
					<div class="outter" style="margin-bottom: 40px;">
						<div class="inner" style="padding: 3px;">
							<div class="row"  style="margin: 4px;">
								<div class="col-xs-6">
									<div class="label-confirm">Game</div>
									<div class="info">{{order.event_name}}</div>
								</div>
								<div class="col-xs-6 horizontal-center" style="display:flex;">
									<span style="margin:0 10px;">
										<div class="label-confirm">Section</div>
										<div class="info">{{order.ticket_section}}</div>
									</span>
									<span style="margin:0 10px;">
										<div class="label-confirm">Row</div>
										<div class="info">{{order.ticket_row}}</div>
									</span>
								</div>
							</div>
							<div class="row"  style="margin: 4px;">
								<div class="col-xs-6">
									<div class="label-confirm">Date & Time</div>
									<div class="info">{{order.event_date | date: "EEE, MMM dd, yyyy - hh:mm a" : 'UTC'}}</div>
								</div>
								<div class="col-xs-6">
									<div class="label-confirm">Location</div>
									<div class="info">{{order.event_location}}</div>
								</div>
							</div>
							<div class="row" style="margin: 4px;">
								<div class="col-xs-6">
									<div class="label-confirm">Shipping</div>
									<div class="info" ng-if="order.ticket_format == 'Physical'">Physical Delivery</div>
						    		<div class="info" ng-if="order.ticket_format == 'Eticket'">Email Delivery</div>
						    		<div class="info" ng-if="order.ticket_format != 'Eticket' && order.ticket_format != 'Physical'">{{order.ticket_format | replaceText}}</div>
								</div>
								<div class="col-xs-6">
									<div class="label-confirm">Tickets Notes</div>
									<div class="info">{{order.ticket_notes}}</div>
								</div>
							</div>
							<div class="row update-password" ng-if="first_time"  style="margin: 4px;">
							<h4>To receive any Good Game Guarantee refund, please provide:</h4>
								<div class="col-md-6">
									<input type="password" name="password" placeholder="password" ng-model="$parent.password" name="password">
								</div>
								<div class="col-md-6">
									<input type="password" name="confirm-password" placeholder="confirm-password" ng-model="$parent.confirm_password" name="confirm_password">
								</div>
								<div class="col-xs-12">
									<button ng-click="updatePassword()">Create Password</button>
								</div>
							</div>
						</div>

						<center>
							<a href="/faq/" class="thx_faq">Have questions about this order?</a>
						</center>
					</div>

					<div class="gx-ads" ng-if="$root.govx">
					<h3>DON'T FORGET YOUR DISCOUNTED GEAR!</h3>
					
						<div class="gx-product">
							<a href="https://www.govx.com/p/44037/nfl-adventure-wagon?gxweba=gamehedge&gxwebb=ravens_confirmation&utm_source=gamehedge&utm_medium=ravens_confirmation&utm_campaign=gamehedge_ravens_confirmation">
								<img src="<%= image_url 'ravens_wagon.jpg' %>"></img>
							</a>
						</div>
						<div class="gx-product">
							<a href="https://www.govx.com/p/44026/nfl-canasta-grande?gxweba=gamehedge&gxwebb=ravens_confirmation&utm_source=gamehedge&utm_medium=ravens_confirmation&utm_campaign=gamehedge_ravens_confirmation">
								<img src="<%= image_url 'ravens_basket.jpg' %>"></img>
							</a>
						</div>
						<div class="gx-product">
							<a href="https://www.govx.com/p/37045/nfl-mens-ravens-sweatshirt?gxweba=gamehedge&gxwebb=ravens_confirmation&utm_source=gamehedge&utm_medium=ravens_confirmation&utm_campaign=gamehedge_ravens_confirmation">
								<img src="<%= image_url 'ravens_sweatshirt.jpg' %>"></img>
							</a>
						</div>
						<div class="gx-product">
							<a href="https://www.govx.com/p/44018/nfl-asiago?gxweba=gamehedge&gxwebb=ravens_confirmation&utm_source=gamehedge&utm_medium=ravens_confirmation&utm_campaign=gamehedge_ravens_confirmation">
								<img src="<%= image_url 'ravens_cheese.jpg' %>"></img>
							</a>
						</div>
						<div class="sep"></div>
					




						<div class="gx-travel">
							<center>
								<a href="https://www.govx.com/travel?gxweba=gamehedge&gxwebb=ravens_confirmation&utm_source=gamehedge&utm_medium=ravens_confirmation&utm_campaign=gamehedge_ravens_confirmation">
									<img src="<%= image_url 'travel-gamehedge-confirmation.png' %>"></img>
								</a>
							</center>	
						</div>

					</div>


				</div>
			</div>
		</div>
	</section>
</span>