<section id="home">
    <div class="nl-top-bg" style="background-image: URL(<%= image_url 'baseball_field_hero.png' %>);">
      <div class="container nl-container">
    
        <section id="hero" style="background: none;">
            <div id="shader"></div>
            <div id="wrapper">
              <div id="content">
                <div class="container">
                  <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
<br/><br/><br/>
                <center>
                  <h2>Coming Back Soon!</h2>
                  <h4>GameHedge will be back with more fascinating features!</h4>
                </center>

                  <div id="hero-search" style="display: none;">
                    <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                      <input type="hidden" name="type" value="full" />
                      <div class="form-group">
                        <img src="<%= image_url "search icon.png" %>" ng-click="goToSearch()">
                        <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                         <div class="no-results" ng-show="noResults && searchTerm != ''">
                          No results. Please try again
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
                <!--
                <div class="press-images hidden-xs hidden-sm">
                  <div class="container">
                    <div class="spacing-div">AS FEATURED IN</div>
                    <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                    <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                    <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                    <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                    <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
                  </div>
                </div>
                -->
              </div>
            </div>
        </section>
    </div>
    </div>    
    
        <main id="press_container">
          <div class="nl-featured-in hidden-xs hidden-sm" id="good-game-guarantee">
      <div class="container" style="margin-top: 0px;">
        <center>
          <img src="<%= image_url 'featured_logos.png' %>">
        </center>    
      </div>
      </div>
    
            <div class="container">

<div style="padding-top: 20px;">
<div class="cs-left">
<h3>What is GameHedge?</h3>
<p>
GameHedge sells MLB, NFL, NBA and NHL tickets with our patent pending
Good Game Guarantee at no extra cost. If the home team loses by the 
number or runs below, we give you 50% of your ticket price back!
</p>
<br/><br/>
<div><b><img class="icon-img" src="<%= image_url "baseball icon.png" %>"> 5 RUNS FOR BASEBALL</b></div>
<div><b><img class="icon-img" src="<%= image_url "hockey icon.png" %>"> 4 GOALS FOR HOCKEY</b></div>
<div><b><img class="icon-img" src="<%= image_url "football icon.png" %>"> 17 POINTS FOR FOOTBALL</b></div>
<div><b><img class="icon-img" src="<%= image_url "basketball icon.png" %>"> 20 POINTS FOR BASKETBALL</b></div>


</div>

<div class="cs-right">
  <div class="video-container" id="howitworksvideo">
    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dh3Fes9Gob0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>
<div class="sep"></div>
</div>


<div style="padding-top: 20px;">
<div class="cs-left">
  <img src="<%= image_url 'football_field.png' %>" style="width: 100%;">
</div>

<div class="cs-right">
<h3>Contact Us</h3>

<p>For customer service or business development opportunities email us at:</p>
<p style="font-size: 18px;">support@gamehege.com</p>
<br/>
<p>
<b>To claim a refund click here:</b>
</p>
<a class="cs-cr" href="/login/">CLAIM REFUND</a>

</div>
<div class="sep"></div>
</div>
<br/><br/><br/><br/>
                
                    <div class="col-xs-3"></div>
                </div>
            </div>
        </main>
    </section>