<section id="home">
<div class="nl-top-bg" style="background-image: URL(<%= image_url 'green_background.png' %>);">
  <div class="container nl-container">

    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="<%= image_url "search icon.png" %>" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <!--
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
              </div>
            </div>
            -->
          </div>
        </div>
    </section>
</div>
</div>
    <main id="faq_container">

  <div class="nl-featured-in hidden-xs hidden-sm" id="good-game-guarantee">
  <div class="container" style="margin-top: 0px;">
    <center>
      <img src="<%= image_url 'featured_logos.png' %>">
    </center>    
  </div>
  </div>


        <div class="container">
            <section id="legal">
                <h1>GAMEHEDGE FAQ</h1>
                <br />
               


<p><strong><u>WHAT IS GAMEHEDGE?</u></strong></p>
<p>GameHedge is a ticket marketplace. We accept orders for tickets from our customers. Once we secure the requested tickets, we will send a confirmation to the customer that they will receive their tickets. <p>
<p><strong><u>ARE TICKETS PURCHASED ON GAMEHEDGE GUARANTEED? </u></strong></p>
<p>Yes. Once an order is confirmed by GameHedge, we guarantee that the customer will receive authentic tickets for their event, prior to the event, or they will receive their money back. If we are unable to secure the tickets which have been ordered by the customer, we will notify the customer that they will not receive their tickets. TICKETS ARE NOT DEEMED PURCHASED BY THE CUSTOMER UNTIL THE CUSTOMER RECEIVES AN EMAIL CONFIRMING THE PURCHASE. <p>
<p><strong><u>WHAT IS THE GOOD GAME GUARANTEE? </u></strong></p>
<p>All tickets purchased on GameHedge come with the Good Game Guarantee, which means that if the home team loses by the number of runs or points as specified in Terms and Conditions, the customer will be entitled to a refund of 50% of the GameHedge ticket price. To be entitled to receive the refund, the customer must follow the rules set forth in the Terms and Conditions. <p>
<p><strong><u>DO I PAY ANYTHING EXTRA FOR THE GOOD GAME GUARANTEE? </u></strong></p>
<p>No. All tickets purchased from GameHedge come with the Good Game Guarantee. Our ticket prices are consistent with market prices for sports tickets. <p>
<p><strong><u>WHEN AM I ELIGIBLE FOR A GOOD GAME GUARANTEE REFUND? </u></strong></p>
<p>MLB Baseball: If the home team loses by 5 runs or more in an officially completed MLB game. <p>
<p>NFL Football:  If the home team loses by 17 points or more in an officially completed NFL game (does not apply to Super Bowl tickets). <p>
<p>NBA Basketball:  If the home team loses by 20 points or more in an officially completed NBA game. <p>
<p>NHL Hockey:  If the home team loses by 4 goals or more in an officially completed NHL game. <p>
<p>Super Bowl LI: If either team loses by 28 points or more. <p>
<p><strong><u>HOW IS MY GOOD GAME GUARANTEE REFUND CALCULATED? </u></strong></p>
<p>It is 50% of the ticket price that you paid. It does not include any shipping or other fees. <p>
<p><strong><u>HOW DO I REQUEST MY GOOD GAME GUARANTEE REFUND? </u></strong></p>
<p>Go to "My Account" and complete the Refund Request Form. <p>
<p><strong><u>WHAT HAPPENS AFTER I REQUEST MY GOOD GAME GUARANTEE REFUND? </u></strong></p>
<p>After you submit your Refund Request, it will be credited back to the credit card that you used to make your ticket purchase, within 5-10 business days after you submit the request. <p>
<p><strong><u>CAN I CHOOSE TO HAVE THE REFUND BASED ON THE VISITING TEAM? </u></strong></p>
<p>No. It is always the home team (other than in the Super Bowl, in which case it’s either team). <p>
<p><strong><u>WHY ARE THERE DIFFERENT RULES FOR SUPER BOWL TICKETS? </u></strong></p>
<p>Since the Super Bowl is played in a neutral location, there are many fans of each team at the game.  So, we feel that it’s a bad game if either team gets blown out. Therefore, we decided the Good Game Guarantee would apply if either team loses—but by 28 points or more (instead of 17). <p>
<p><strong><u>IF I SELL MY TICKETS, WILL THE BUYER BE ENTITLED TO THE REFUND? </u></strong></p>
<p>No. Only the person that purchased tickets directly on GameHedge.com is entitled to a refund. <p>
<p><strong><u>IS THERE A TIME LIMIT TO SUBMIT MY REFUND REQUEST? </u></strong></p>
<p>Yes. You must submit your Refund Request within 90 days of the game for which the refund applies. <p>
<p><strong><u>THE PRICE OF TICKETS</u></strong></p>
<p>THE PRICE THAT YOU PAY FOR TICKETS ON GAMEHEDGE MAY BE ABOVE OR BELOW THE FACE VALUE PRICE PRINTED ON THE TICKETS. GameHedge provides you with the service of locating tickets that may not be available through standard channels. Tickets listed on GameHedge are purchased and supplied by GameHedge, from pre-qualified, screened, professional ticket agencies as well as individual resellers of tickets. Those resellers list these tickets at prices determined by the reseller, which may be above or below the price printed on the face of the ticket. The market value price for a ticket is quite volatile, determined by many factors including seat location, supply and demand, date and location of event, etc. <p>
<p><strong><u>WHAT IS THE ORDER CONFIRMATION PROCESS? </u></strong></p>
<p>After you submit your request for tickets, you will receive an email notifying you that we have received your request. This does not confirm ticket availability or prices. It only indicates that we have received your request for those tickets and have begun the process for securing the requested tickets. Once the requested tickets have been secured by us, your credit card will be charged and you should receive an Order Confirmation or link to print your tickets confirming that your request has been finalized and we have purchased the tickets on your behalf. You should also receive a copy of your invoice. In some instances, when the physical tickets or bar code electronic ticket are not yet available, the delivery update acts as your confirmation until the ticket is delivered. Your order may be finalized even if you do not receive an Order Confirmation, finalized invoice or an updated status email from us. If you have not heard from us, or have only received a confirmation that we received your ticket request, please call our office to check on your order. <p>
<p><strong><u>HOW DO I RECEIVE MY TICKETS? </u></strong></p>
<p>If your tickets are being delivered via E-Mail, you will receive a link containing the actual tickets for the event. We monitor all outbound e-mails to ensure they are received by you. <p>
<p>Choosing to have tickets shipped does not ensure that the ticket will be a hard ticket. All tickets shipped will be done so via an express delivery service (i.e., Federal Express, Express Mail, messenger, etc.) and will require an adult signature. We use express delivery services requiring signature to ensure that your tickets arrive safely and that they can be tracked at any time. It is your responsibility to track your package and to be available to accept the package. You agree to provide us with a secure delivery location and authorize someone at that address to act as your agent in your absence to accept delivery of the package. If you provide a delivery location other than your credit card billing location, you hereby specifically agree to be responsible for that delivery and the tickets once delivered to the address you specify. You agree not to dispute such charges. Your expected ticket arrival date is based on the actual date we ship the order. <p>
<p>As example; if you choose “One Day Shipping” you will get your tickets one business day after the seller ships the tickets and not necessarily one business day after you place your order. <p>
<p>If for any reason your tickets are returned to us, we will try to contact you to arrange for another delivery attempt. If you are unavailable or if you refuse delivery of your tickets, the tickets may be listed for sale on consignment with GameHedge at a price and on terms determined by GameHedge. <p>
<p><strong><u>WHAT HAPPENS IF I LOSE MY TICKETS? </u></strong></p>
<p>When you receive your tickets keep them in a safe place. Unfortunately, GameHedge cannot guarantee that tickets can be replaced if they are lost, stolen, or damaged. <p>
<p><strong><u>WHAT IF AN EVENT IS CANCELLED? </u></strong></p>
<p>If an event is cancelled for any reason other than an act of God (rainout, earthquake, flood, etc.), war, terrorism, strike, or lockout, we will provide a full refund for the amount that you paid for the tickets. Shipping charges are not refundable. TICKETS MUST BE RECEIVED BACK IN OUR OFFICE WITHIN 14 DAYS OF THE ANNOUNCEMENT OF THE EVENT CANCELLATION. In case of a rainout or strike for a sporting event, no refunds will be made. <p>
<p><strong><u>WHAT IF AN EVENT IS POSTPONED OR RESCHEDULED? </u></strong></p>
<p>If an event is postponed or rescheduled, the tickets will be honored for the rescheduled event date. New tickets will not need to be issued for most rescheduled events or postponements. Since we are unable to recover our costs on the tickets that we acquired for you, we in turn are unable to offer customers refunds on postponed or rescheduled events. </p>


            </section>
        </div>
    </main>
</section>