<span id="home">
  <section id="hero">
    <div id="shader"></div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
          <p>Every Ticket Comes With Our Good Game Guarantee!</p>
          <div id="hero-search">
            <form id="form-home-search" name="formSearch" method="POST" action="/search">
              <input type="hidden" name="type" value="full" />
              <div class="form-group">
                <label for="query" class="sr-only">Search Team, Stadium or City</label>
                <div class="input-group">
                  <input type="text" id="home-query" name="query" class="form-control" placeholder="Search by Team, Stadium or City..." />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="$('#form-home-search').submit();"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="press_images">
        <div class="mobile-images hidden-xs hidden-sm">
          <div class="spacing_div"><img src="<%= image_url "press2/Scout.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press/Crain's NY White.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
          <div class="spacing_div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
        </div>
        <div class="mobile-images hidden-md hidden-lg">
          <img src="<%= image_url "press2/Sports Illustrated Red.png" %>">
          <img src="<%= image_url "press2/USA Today copy.png" %>">
          <img src="<%= image_url "press/Crain's NY White.png" %>">
          <img src="<%= image_url "press2/CNBC copy.png" %>">
          <img src="<%= image_url "press2/Yahoo Finance.png" %>">  
          <img src="<%= image_url "press2/ESPN Radio copy.png" %>">
          <img src="<%= image_url "press2/MSN.png" %>">
        </div>
      </div>
    </div>
  </section>
 

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
    ...
  </div>

  <div class="box col1">
    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
  </div>

  <div class="box col2">
    <p>
      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
    </p>
  </div>
  ...
</div>
</span>