<div class="nl-call hidden-xs hidden-sm">Need Help? Call 888-804-4330</div>

<section id="home">
<div class="nl-top-bg" style="background-image: URL(<%= image_url 'green_background.png' %>);">
  <div class="container nl-container">

    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="<%= image_url "search icon.png" %>" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <!--
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
              </div>
            </div>
            -->
          </div>
        </div>
    </section>
 </div>
 </div>   

    
    <main id="how_works_container">

  <div class="nl-featured-in hidden-xs hidden-sm" id="good-game-guarantee">
  <div class="container" style="margin-top: 0px;">
    <center>
      <img src="<%= image_url 'featured_logos.png' %>">
    </center>    
  </div>
  </div>


        <section id="good-game-guarantee" class="hidden-xs hidden-sm">
          <div class="container">
            <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

            <div class="content-background">
              <div class="content">
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="<%= image_url "icon ticket.png" %>">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>BUY TICKETS</h2>
                    <p>
                      Find your game and purchase your tickets.<br>
                      Good Game Guarantee included at no additional cost with every ticket.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 division center-div">
                  <div class="col-xs-5 section">
                    <img src="<%= image_url "icon stadium.png" %>">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>ENJOY GAME</h2>
                    <p>
                      If the home team loses by below amount or more, you get 50% of ticket price back.
                    </p>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "football icon.png" %>">
                        17 PTS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "basketball icon.png" %>">
                        20 PTS
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "baseball icon.png" %>">
                        5 RUNS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "hockey icon.png" %>">
                        4 GOALS
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="<%= image_url "icon coin.png" %>">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>CLAIM MONEY</h2>
                    <p>
                      Simply come back to GameHedge.com to claim your refund.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
          <div class="container">
            <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

            <div class="content-background-mobile">
              <div class="content-mobile">
                 <slick settings="slickConfig">

                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="<%= image_url 'icon ticket.png' %>">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>BUY TICKETS</h2>
                        <p>
                          Find your game and purchase your tickets.<br>
                          Good Game Guarantee included at no additional cost with every ticket.
                        </p>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="<%= image_url 'icon stadium.png' %>">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>ENJOY GAME</h2>
                        <p>
                          If the home team loses by below amount or more, you get 50% of ticket price back.
                        </p>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="<%= image_url 'football icon.png' %>">
                            <div>17 PTS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="<%= image_url 'basketball icon.png' %>">
                            <div>20 PTS</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="<%= image_url 'baseball icon.png' %>">
                            <div>5 RUNS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="<%= image_url 'hockey icon.png' %>">
                            <div>4 GOALS</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="<%= image_url 'icon coin.png' %>">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>CLAIM MONEY</h2>
                        <p>
                          Simply come back to GameHedge.com to claim your refund.
                        </p>
                      </div>
                    </div> 

                </slick>




              </div>
            </div>
          </div>
        </section>
<center>        
<div class="hw-login">
<a href="/login">Please login to get your refund</a>
</div>
<br/>
<div class="video-container" id="howitworksvideo">
<div class="videoWrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/dh3Fes9Gob0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</center>

        
        <div id="how-works-bottom" class="container">
            
            <hr>
            
            <div class="guarantee row">
                <div class="col-sm-2 col-xs-3 how-works-mobile"><img width="100%" src="<%= image_url 'badge-gamehedge.png' %>" /></div>
                <div class="col-sm-10 col-xs-9">
                    <h2>Good Game Guarantee&trade;</h2>
                    <p>All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the ticket price. No gimmicks. No catches.</p>
                </div>
            </div>
        </div>
        
    </main>
</section>