<span id="home" class=leagues>
  <section id="hero" style="background: transparent url({{league.image_url}}) center;background-size:cover;">
    <div id="shader"></div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
          <div id="hero-search" class="hidden-sm hidden-xs">
            <form id="form-home-search" name="formSearch" method="POST" action="/search/">
              <input type="hidden" name="type" value="full" />
              <div class="form-group">
                <img src="<%= image_url "search icon.png" %>">
                <input type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html">
              </div>
            </form>
          </div>
          <p>{{league.name | uppercase}} Tickets with Good Game Guarantee!</p>
        </div>
      </div>
    </div>
  </section>

  <script type="text/ng-template" id="typeahead/bind-node.html">
    <a href="/#{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
  </script>
  <section id="good-game-guarantee">
    <div class="container">
      <div class="title">HOW THE GOOD GAME GUARANTEE WORKS</div>

      <div class="content-background">
        <div class="content">
          <div class="col-md-4 division">
            <div class="col-xs-5 section">
              <img src="<%= image_url "icon ticket.png" %>">
            </div>
            <div class="col-xs-7 section2">
              <h2>BUY TICKETS</h2>
              <p>
                Find your game and purchase your tickets.<br><br>
                Good Game Guarantee included at no additional cost with every ticket.
              </p>
            </div>
          </div>
          <div class="col-md-4 division center-div">
            <div class="col-xs-5 section">
              <img src="<%= image_url "icon stadium.png" %>">
            </div>
            <div class="col-xs-7 section2">
              <h2>ENJOY GAME</h2>
              <p>
                If the home team loses by {{league.ggg}} or more, you get 50% of ticket price back.
              </p>
              <!-- <div class="col-xs-6 block">
                <img class="icon-img" src="<%= image_url "football icon.png" %>">
                17 PTS
              </div>
              <div class="col-xs-6 block">
                <img class="icon-img" src="<%= image_url "basketball icon.png" %>">
                19 PTS
              </div>
              <div class="col-xs-6 block">
                <img class="icon-img" src="<%= image_url "baseball icon.png" %>">
                5 RUNS
              </div>
              <div class="col-xs-6 block">
                <img class="icon-img" src="<%= image_url "hockey icon.png" %>">
                4 GOALS
              </div> -->
            </div>
          </div>
          <div class="col-md-4 division">
            <div class="col-xs-5 section">
              <img src="<%= image_url "icon coin.png" %>">
            </div>
            <div class="col-xs-7 section2">
              <h2>CLAIM MONEY</h2>
              <p>
                Simply come back to GameHedge.com to claim your refund.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="near-events" ng-show="next_events.length != 0">
    <div class="container">
      <div class="title">UPCOMING GAMES NEAR YOU</div>
      <div ng-repeat="event in next_events | limitTo:4" class="col-md-3">
        <a href="{{event.url}}">
          <div class="back">
            <div class="front">
              <div class="date-holder">
                <div class="date-inner">
                  <p class="date1">{{event.occurs_at | date:'MMM' : 'UTC' | uppercase}}</p>
                  <p class="date2">{{event.occurs_at | date:'dd' : 'UTC' | uppercase}}</p>
                  <p class="date3">{{event.occurs_at | date:'EEE' : 'UTC' | uppercase}}</p>  
                </div>
              </div>
              <div class="event-holder" ng-show="event.performances[0].primary == true">
                <p class="teams">{{event.performances[1].performer.name.replace('Football', '')}}<span class="at"> at </span>{{event.performances[0].performer.name.replace('Football', '')}}</p>
                <p class="event3"><span class="at" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') == (compareDate | date:'hh:mm:ss' : 'UTC')">TBD</span><span class="at" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') != (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'h:mm a' : 'UTC' | uppercase}} at</span> <span class="stadium">{{event.venue.name}}</span></p>
                <p class="event4">{{event.available_count}} tickets left</p>
              </div>
              <div class="event-holder" ng-show="event.performances[1].primary == true">
                 <p class="teams">{{event.performances[0].performer.name.replace('Football', '')}}<span class="at"> at </span>{{event.performances[1].performer.name.replace('Football', '')}}</p>
                <p class="event3"><span class="at" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') == (compareDate | date:'hh:mm:ss' : 'UTC')">TBD</span><span class="at" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') != (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'h:mm a' : 'UTC' | uppercase}} at</span> <span class="stadium">{{event.venue.name}}</span></p>
                <p class="event4">{{event.available_count}} tickets left</p>
              </div>
              <button>Buy Tickets</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <div id="home-loading-data" class="row text-center" ng-if="loading">
    <img src="<%= image_url "loadinfo.gif" %>">
  </div>
  <section id="divisions" ng-if="!loading">
    <div class="container divisions-container">
      <div ng-show="league.id != 5" class="col-md-6 text-center main-division-container" ng-repeat="main_division in divisions | filter:is_main_division=true | orderBy:'name'">
          <p class="main-division">{{main_division.name}}</p>
          <div class="small-division" ng-repeat="division in divisions | filter:{'is_main_division' : 'false', 'division_id' : main_division.id}">
            {{main_division.name | uppercase}} {{division.name | uppercase}} TICKETS
            <div class="small-division-back row">
              <div class="small-division-front">
                <div class="row performer-detail" ng-repeat="performer in performers | filter:{'division_id' : division.id} | orderBy: ['-wins','name']">
                  <div class="col-xs-3 image">
                    <div class="dummy"></div>
                    <div class="img-container">
                      <div class="centerer"></div>
                      <a href="{{performer.url}}"><img src="{{performer.image_url_medium}}"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-7 name">
                    <a href="{{performer.url}}">{{performer.name}}</a>
                    <p>Stadium <a href="{{performer.venue.url}}">{{performer.venue.name}}</a></p>
                  </div>
                  <div class="col-xs-3 col-md-2 score">
                    <table>
                      <thead>
                        <tr>
                          <th>
                            W
                          </th>
                          <th>
                            L
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{performer.wins}}<span ng-show="performer.wins == '' || performer.wins == null">-</span>
                          </td>
                          <td>
                            {{performer.losses}}<span ng-show="performer.losses == '' || performer.wins == null">-</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>



      <div ng-show="league.id == 5" class="col-md-6 text-center main-division-container">
          <div class="small-division" ng-repeat="division in divisions_first | filter:{'is_main_division' : 'true', 'division_id' : main_division.id}">
            {{division.name | uppercase}} TICKETS
            <div class="small-division-back row">
              <div class="small-division-front">
                <div class="row performer-detail" ng-repeat="performer in performers | filter:{'division_id' : division.id} | orderBy: ['-wins','name']">
                  <div class="col-xs-3 image">
                    <div class="dummy"></div>
                    <div class="img-container">
                      <div class="centerer"></div>
                      <a href="{{performer.url}}"><img src="{{performer.image_url_medium}}"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-7 name">
                    <a href="{{performer.url}}">{{performer.name}}</a>
                    <p>Stadium <a href="{{performer.venue.url}}">{{performer.venue.name}}</a></p>
                  </div>
                  <div class="col-xs-3 col-md-2 score">
                    <table>
                      <thead>
                        <tr>
                          <th>
                            W
                          </th>
                          <th>
                            L
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{performer.wins}}<span ng-show="performer.wins == '' || performer.wins == null">-</span>
                          </td>
                          <td>
                            {{performer.losses}}<span ng-show="performer.losses == '' || performer.wins == null">-</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div ng-show="league.id == 5" class="col-md-6 text-center main-division-container">
          <div class="small-division" ng-repeat="division in divisions_last | filter:{'is_main_division' : 'true', 'division_id' : main_division.id}">
            {{division.name | uppercase}} TICKETS
            <div class="small-division-back row">
              <div class="small-division-front">
                <div class="row performer-detail" ng-repeat="performer in performers | filter:{'division_id' : division.id} | orderBy: ['-wins','name']">
                  <div class="col-xs-3 image">
                    <div class="dummy"></div>
                    <div class="img-container">
                      <div class="centerer"></div>
                      <a href="{{performer.url}}"><img src="{{performer.image_url_medium}}"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-7 name">
                    <a href="{{performer.url}}">{{performer.name}}</a>
                    <p>Stadium <a href="{{performer.venue.url}}">{{performer.venue.name}}</a></p>
                  </div>
                  <div class="col-xs-3 col-md-2 score">
                    <table>
                      <thead>
                        <tr>
                          <th>
                            W
                          </th>
                          <th>
                            L
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{performer.wins}}<span ng-show="performer.wins == '' || performer.wins == null">-</span>
                          </td>
                          <td>
                            {{performer.losses}}<span ng-show="performer.losses == '' || performer.wins == null">-</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>



    </div>
  </section>
  <section id="about">
    <div class="page-title">ABOUT {{league.name | uppercase}}</div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 description" bind-unsafe-html="league.description">
          
        </div>
      </div>
    </div>
  </section>
</span>