<span id="home">
  <section id="hero" class="short">
    <div id="shader"></div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
          
      </div>
    </div>
  </section>
  <section id="payments">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-7">
  				<div class="card">
  					<div class="card-in deliver">
  						Deliver tickets to
  						<div ng-if="edit_deliver">
	  						<span>
	  							<div class="inputs">
		  							<div class="email left">
									    <label for="email">Email</label>
									    <input type="email" class="form-control" id="email" placeholder="example@example.com" ng-model="$parent.email">
									</div>
									<div class="email right">
									    <label for="email-confirm">Confirm Email</label>
									    <input type="email" class="form-control" id="email-confirm" placeholder="example@example.com"  ng-model="$parent.confirm_email">
									</div>
								</div>
							</span>
	  					</div>
	  					<div class="review" ng-if="!edit_deliver">
	  						<div class="title">{{first_name_billing}} {{last_name_billing}}</div>
	  						<span>
		  						<div>{{email}}</div>
		  					</span>
	  						<div>{{address_billing}}<br>
	  						{{city_billing}}, {{state_billing}} {{zipcode_billing}}<br>
	  						{{country_billing}}</div>
		  					<button ng-click="toogleReview('deliver')">EDIT</button>
	  					</div>
  					<hr>
  					Pay With
  						<div ng-if="edit_credit_card" class="edit_credit_card">
	  						<div class="row">
	  							<div class="cc col-md-5">
		  							<label for="cc">Credit Card Number</label>
								    <input type="text"  ng-model="$parent.cc" class="form-control" id="cc" placeholder="1111 2222 3333 4444" ng-change="checkCardNumber()">
								    <div class="img-holder">
								    	<img src="<%= image_url "visa.png" %>" ng-if="card_type == 'visa'">
								    	<img src="<%= image_url "mastercard.png" %>" ng-if="card_type == 'mastercard'">
								    	<img src="<%= image_url "amex.png" %>" ng-if="card_type == 'amex'">
								    	<img src="<%= image_url "discover.png" %>" ng-if="card_type == 'discover'">
								    </div>
							    </div>
							    <div class="col-md-7">
							    	<div class="row">
									    <div class="cvv col-xs-4">
										    <label for="cvv">CVV</label>
										    <input type="text" class="form-control" id="cvv" placeholder="123" ng-model="$parent.cvv">	
									    </div>
			  							<div class="exp-month col-xs-4">
				  							<label for="exp-month">Expiration Month</label>
										    <select class="form-control" id="exp-month" ng-model="$parent.exp_month">
										    	<option value="01">JAN</option>
										    	<option value="02">FEB</option>
										    	<option value="03">MAR</option>
										    	<option value="04">APR</option>
										    	<option value="05">MAY</option>
										    	<option value="06">JUN</option>
										    	<option value="07">JUL</option>
										    	<option value="08">AUG</option>
										    	<option value="09">SEP</option>
										    	<option value="10">OCT</option>
										    	<option value="11">NOV</option>
										    	<option value="12">DEC</option>
										    </select>
									    </div>
									    <div class="exp-year col-xs-4">
										    <label for="exp-year">Expiration Year</label>
										    <select class="form-control" id="exp-year" ng-model="$parent.exp_year">
										    	<option value="2016">2016</option>
										    	<option value="2017">2017</option>
										    	<option value="2018">2018</option>
										    	<option value="2019">2019</option>
										    	<option value="2020">2020</option>
										    	<option value="2021">2021</option>
										    	<option value="2022">2022</option>
										    	<option value="2023">2023</option>
										    	<option value="2024">2024</option>
										    	<option value="2025">2025</option>
										    	<option value="2026">2026</option>
										    	<option value="2027">2027</option>
										    	<option value="2028">2028</option>
										    	<option value="2029">2029</option>
										    	<option value="2030">2030</option>
										    	<option value="2031">2031</option>
										    	<option value="2032">2032</option>
										    	<option value="2033">2033</option>
										    	<option value="2034">2034</option>
										    	<option value="2035">2035</option>
										    	<option value="2036">2036</option>
										    	<option value="2037">2037</option>
										    	<option value="2038">2038</option>
										    	<option value="2039">2039</option>
										    </select>
									    </div>
									</div>
							    </div>
	  						</div>
	  						<div class="seals hidden">
								<script src="https://cdn.ywxi.net/js/inline.js?w=96"></script>
								<span id="siteseal">
		                            <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=qGUZ4cVXP8fzh4gJM9WNOM8Lhm3GV8MAOuZcgI4ynEm7EcjgKcT8zguOJYzw"></script>
		                        </span>	
							</div>
						</div>
						<div class="review" ng-if="!edit_credit_card">
	  						<span ng-show="ticket.format == 'Physical'">
		  						<div class="title">Credit Card</div>
		  						<div class="ccard vertical-center">
			  						<div class="img-holder">
								    	<img src="<%= image_url "visa.png" %>" ng-if="card_type == 'visa'">
								    	<img src="<%= image_url "mastercard.png" %>" ng-if="card_type == 'mastercard'">
								    	<img src="<%= image_url "amex.png" %>" ng-if="card_type == 'amex'">
								    	<img src="<%= image_url "discover.png" %>" ng-if="card_type == 'discover'">
								    </div>
		  							ending in {{cc | limitTo:-4}}
		  						</div>
		  					</span>
		  					<span ng-show="ticket.format == 'Eticket' || ticket.format == 'Flash_seats'">
		  						<div>{{email}}</div>
		  					</span>
		  					<button ng-click="toogleReview('card')">EDIT</button>
	  					</div>
  					<hr>
  					Billing Address
  				
  						<div ng-if="edit_billing">
						    <div class="inputs">
	  							<div class="first-name">
		  							<label for="first-name-billing">First Name</label>
								    <input type="text" class="form-control" id="first-name-billing" ng-model="$parent.first_name_billing">
							    </div>
							    <div class="last-name">
								    <label for="last-name-billing">Last Name</label>
								    <input type="text" class="form-control" id="last-name-billing" ng-model="$parent.last_name_billing">	
							    </div>
	  						</div>
	  						<hr>
	  						<div class="inputs">
	  							<div class="address">
		  							<label for="address-billing">Address</label>
								    <input type="text" class="form-control" id="address-billing" ng-model="$parent.address_billing">
							    </div>
							    <div class="phone">
		  							<label for="phone-billing">Phone Number</label>
								    <input type="text" class="form-control numeric" id="phone-billing" ng-model="$parent.phone_billing">
							    </div>
	  						</div>
	  						<div class="inputs">
	  							<div class="zipcode">
		  							<label for="zipcode-billing">ZIP Code</label>
								    <input type="text" class="form-control numeric" id="zipcode-billing" ng-model="$parent.zipcode_billing">
							    </div>
							    <div class="city">
								    <label for="city-billing">City</label>
								    <input type="text" class="form-control" id="city-billing" ng-model="$parent.city_billing">	
							    </div>
							    <div class="state">
								    <label for="state_id-billing">State</label>
								    <select id="state_id-billing" data-value="shortcode" ng-model="$parent.state_billing">
										<option value="AK">AK</option>
						  				<option value="AL">AL</option>
						  				<option value="AS">AS</option>
						  				<option value="AZ">AZ</option>
						  				<option value="AR">AR</option>
						  				<option value="CA">CA</option>
						  				<option value="CO">CO</option>
						  				<option value="CT">CT</option>
						  				<option value="DE">DE</option>
						  				<option value="DC">DC</option>
						  				<option value="FM">FM</option>
						  				<option value="FL">FL</option>
						  				<option value="GA">GA</option>
						  				<option value="GU">GU</option>
						  				<option value="HI">HI</option>
						  				<option value="ID">ID</option>
						  				<option value="IL">IL</option>
						  				<option value="IN">IN</option>
						  				<option value="IA">IA</option>
						  				<option value="KS">KS</option>
						  				<option value="KY">KY</option>
						  				<option value="LA">LA</option>
						  				<option value="ME">ME</option>
						  				<option value="MH">MH</option>
						  				<option value="MD">MD</option>
						  				<option value="MA">MA</option>
						  				<option value="MI">MI</option>
						  				<option value="MN">MN</option>
						  				<option value="MS">MS</option>
						  				<option value="MO">MO</option>
						  				<option value="MT">MT</option>
						  				<option value="NE">NE</option>
						  				<option value="NV">NV</option>
						  				<option value="NH">NH</option>
						  				<option value="NJ">NJ</option>
						  				<option value="NM">NM</option>
						  				<option value="NY">NY</option>
						  				<option value="NC">NC</option>
						  				<option value="ND">ND</option>
						  				<option value="MP">MP</option>
						  				<option value="OH">OH</option>
						  				<option value="OK">OK</option>
						  				<option value="OR">OR</option>
						  				<option value="PW">PW</option>
						  				<option value="PA">PA</option>
						  				<option value="PR">PR</option>
						  				<option value="RI">RI</option>
						  				<option value="SC">SC</option>
						  				<option value="SD">SD</option>
						  				<option value="TN">TN</option>
						  				<option value="TX">TX</option>
						  				<option value="UT">UT</option>
						  				<option value="VT">VT</option>
						  				<option value="VI">VI</option>
						  				<option value="VA">VA</option>
						  				<option value="WA">WA</option>
						  				<option value="WV">WV</option>
						  				<option value="WI">WI</option>
						  				<option value="WY">WY</option>
						  			</select>
							    </div>
	  						</div>
	  					</div>
	  					<div class="review" ng-if="!edit_billing">
	  						<div class="title">{{first_name_billing}} {{last_name_billing}}</div>
	  						<div>{{address_billing}}<br>
	  						{{city_billing}}, {{state_billing}} {{zipcode_billing}}<br>
	  						{{country_billing}}</div>
		  					<button ng-click="toogleReview('billing')">EDIT</button>
	  					</div>
	  					<hr>
	  					<div class="row">
		  					<div class="ggg-badge-pledge col-md-6">
			  					<div class="img-container">
			  						<img src="<%= image_url "badge-gamehedge.png" %>" class="ggg-img">
			  					</div>
			  					<div>
				  					<div class="title">
				  						Your tickets come with the<br>GOOD GAME GUARANTEE!
				  					</div>
				  					<div class="cont">
				  						If the home team loses by {{event.sport.ggg}} or more, GameHedge will refund 50% of your ticket price at no additional cost to you.
				  					</div>
				  				</div>
			  				</div>
			  				<div class="ggg-badge-pledge col-md-6">
			  					<div class="img-container">
			  						<img src="<%= image_url "pledge.png" %>" class="pledge-img">
			  					</div>
			  					<div>
				  					<div class="title">
				  						GAMEHEDE PLEDGE
				  					</div>
				  					<div class="cont">
				  						Tickets will always be…
				  						<ul>
				  							<li>in time for the event</li>
				  							<li>refunded if the event is canceled and not resecheduled</li>
				  							<li>authentic</li>
				  						</ul>
				  					</div>
				  				</div>
			  				</div>
			  			</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-5">
  				<div class="card">
  					<div class="card-in summary">
					    <div class="title">{{ticket.event.name}}</div>
					    <div class="info">
					    	{{event.occurs_at | date: "EEE,	MMM dd, yyyy hh:mm a"}}<br>
					    	{{event.venue.name}}, {{event.venue.location}}<br>
					    	Section {{ticket.section}}, Row {{ticket.row}}
					    </div>
					    <hr>
					    <div class="description-line">
					    	<div class="description">Ticekt Price</div>
					    	<div class="value">$ {{ticket.retail_price}} ea.</div>
					    </div>
					    <div class="description-line">
					    	<div class="description">Quantity</div>
					    	<div class="value" >
						    	<select class="amount" id="amount" ng-model="amount" ng-change="calculateValues()" >
						    		<option ng-repeat="o in ticket.splits | orderBy:'-'" value="{{o}}">{{o}}</option>
						    	</select>
					    	</div>
					    </div>
					    <div class="description-line" ng-show="ticket.format == 'Physical'">
					    	<div class="description">Shipping</div>
					    	<div class="value" >
						    	<select id="shipping" ng-model="shipping_fee" ng-change="calculateValues()" >
						    		<option ng-repeat="o in shipping_list | limitTo:2" value="{{o.price}}">{{o.name}}</option>
						    	</select>
					    	</div>
					    </div>
					    <div class="description-line">
					    	<div class="description">Subtotal</div>
					    	<div class="value">$ {{subtotal}} ea.</div>
					    </div>
					    <div class="description-line" ng-show="ticket.format == 'Physical'">
					    	<div class="description short">Shipping Fee</div>
					    	<div class="value short">$ {{shipping_fee}}</div>
					    </div>
					    <div class="description-line">
					    	<div class="description short">Service Fee</div>
					    	<div class="value short">$ {{service_fee}}</div>
					    </div>
					    <div class="description-line">
					    	<div class="description short">Shipping</div>
					    	<div class="value short">{{ticket.format}}</div>
					    </div>
					    <div class="description-line">
					    	<div class="description short">Good Game Guarantee</div>
					    	<div class="value short">FREE</div>
					    </div>
					    <hr>
					    <div class="description-line total">
					    	<div class="description">TOTAL</div>
					    	<div class="value">$ {{total}}</div>
					    </div>
					    <button ng-click="confirmPay()">Confirm and Pay</button>
					    <div class="terms">By clicking Confirm and Pay, you agree to GameHedge <a href="terms">Terms and Privacy Policy.</a></div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	
  </section>
</span>