<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="<%= image_url 'search icon.png' %>">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                     <div class="no-results" ng-show="searchTerm != ''">
                  Not results please try again
                </div>
                  </div>
                </form>
              </div>
              <p class="hidden-xs hidden-sm">Every Ticket Comes With Our Good Game Guarantee!</p>
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <main id="terms_container">
        <div class="container">
            <section id="legal">
                <h1>GAMEHEDGE TERMS AND CONDITIONS</h1>
                <br/>
                <p class="lead">THESE TERMS AND CONDITIONS, ALONG WITH ANY OTHER POLICIES AND GUIDELINES POSTED ON GAMEHEDGE.COM (hereinafter referred to as “GameHedge”, the “Site” or the “Website”), SHALL GOVERN YOUR USE OF THIS SITE AND ANY TRANSACTIONS ON THIS SITE OR WITH GAMEHEDGE LLC. BY USING THIS SITE AND/OR BY PLACING A REQUEST FOR TICKETS ON THIS SITE, YOU ARE AGREEING TO THE FOLLOWING TERMS AND CONDITIONS. PLEASE READ THEM CAREFULLY BEFORE MAKING A TICKET REQUEST.</p>
                <p><strong><u>WHAT IS GAMEHEDGE?</u></strong></p>
                <p>GameHedge is a ticket marketplace. We accept orders for tickets from our customers. Once we secure the requested tickets, we will send a confirmation to the customer that they will receive their tickets.</p>
                <p><strong><u>ARE TICKETS PURCHASED ON GAMEHEDGE GUARANTEED?</u></strong></p>
                <p>Yes. Once an order is confirmed by GameHedge, we guarantee that the customer will receive authentic tickets for their event, prior to the event, or they will receive their money back. If we are unable to secure the tickets which have been ordered by the customer, we will notify the customer that they will not receive their tickets. TICKETS ARE NOT DEEMED PURCHASED BY THE CUSTOMER UNTIL THE CUSTOMER RECEIVES AN EMAIL CONFIRMING THE PURCHASE.</p>
                <p><strong><u>WHAT IS THE GOOD GAME GUARANTEE?</u></strong></p>
                <p>All tickets purchased on GameHedge come with the Good Game Guarantee, which means that if the home team loses by the number of runs or points as specified in Section 2 below, the customer will be entitled to a refund of 50% of the GameHedge ticket price. To be entitled to receive the refund, the customer must follow the rules set forth in Section 2 of the Terms and Conditions below.</p>
                <h2>1. PURCHASING AND PRICE OF TICKETS</h2>
                <p>THE PRICE THAT YOU PAY FOR TICKETS ON GAMEHEDGE MAY BE ABOVE OR BELOW THE FACE VALUE PRICE PRINTED ON THE TICKETS. GameHedge provides you with the service of locating tickets that may not be available through standard channels. Tickets listed on GameHedge are purchased and supplied by GameHedge, from pre-qualified, screened, professional ticket agencies as well as individual resellers of tickets. Those resellers list these tickets at prices determined by the reseller, which may be above or below the price printed on the face of the ticket. The market value price for a ticket is quite volatile, determined by many factors including seat location, supply and demand, date and location of event, etc.</p>
                <h2>2. GOOD GAME GUARANTEE</h2>
                <p>All tickets sold on GameHedge come with the Good Game Guarantee. For any given regular season or post season game played to completion in the 2016 MLB season, 2016 NFL Season, 2016/17 NBA Season and 2016/17 NHL Season for which tickets to said game were purchased through GameHedge: if (i) the home team in that game is officially declared by the ruling league to be the losing team in that game by the number of points, runs or goals set forth below for that league, and if (ii) the ticket purchaser has complied with the terms and conditions of this Section 2 (including, without limitation, making the claim described below, then GameHedge will refund to the ticket purchaser 50% of the ticket price (not including any fees charged by GameHedge in connection with the ticket purchase including without limitation, service fees, shipping charges or taxes). </p>
                <p>MLB Baseball:  5 runs or more</p>
                <p>NFL Football: 17 points or more</p>
                <p>NBA Basketball: 20 points or more</p>
                <p>NHL Hockey: 4 goals or more</p>
                <p>All refund claims must be verified by GameHedge before payment is made. The final ticket price is determined by GameHedge in its sole discretion. GameHedge reserves the right to charge a processing fee in connection with the refund.</p>
                <p>All claims for refunds (“Claims”) must be made by the person who purchased the ticket from GameHedge and must be received by GameHedge within ninety (90) days from the date of the event. After the ninety-day period has expired, GameHedge will have no obligation to make the refund. The right to a refund may not be transferred or assigned by the purchaser of the ticket.</p>
                <p>The ticket holder must comply with the directions on GameHedge.com for making a Claim. GameHedge has no responsibility to notify ticket holder that they may be entitled to a refund for any particular event.</p>
                <p>The Good Game Guarantee refund will be made by GameHedge within thirty (30) days of receipt of the valid Claim from the purchaser.</p>
                <h2>3. RETURNS</h2>
                <p>There are no refunds, exchanges, or cancellations on any request for tickets once it is submitted to us. This policy is in place because when you place your ticket request, we attempt to secure and acquire those tickets for you from a ticket reseller and we may not be able to recover those costs.</p>
                <p>GameHedge is not affiliated with any of the events for which tickets may be purchased and disclaims all responsibility for whether the event takes place or is postponed or cancelled. GameHedge has no responsibility for anything that occurs at the event. GameHedge is not affiliated with any sports league or team.</p>
                <h2>4. PRICES AND SEATING</h2>
                <p>All prices are listed in U.S. Dollars (USD) and are guaranteed after your order has been confirmed, your credit card has been charged, and your purchase is completed. Since tickets are bought and sold by GameHedge on a third party marketplace, market prices are subject to change at any time prior to Order Confirmation, and we do not guarantee that you will be able to purchase the tickets for the prices shown on our Website or that such tickets will be available until you receive your purchase confirmation. Once you receive the purchase confirmation, the prices are guaranteed. As we represent thousands of ticket resellers who all post tickets for sale on our Web site, we cannot be responsible for any typographical or system errors within the inventory listed for sale. If this type of error is found while processing your order, you will be notified of the error and the error will be corrected. Please check your tickets carefully as soon as you receive them. Please contact our Customer Service department if you have any questions regarding the tickets you received.</p>
                <h2>5. ORDER CONFIRMATION/PROCESSING</h2>
                <p>After you submit your request for tickets, you will receive an email notifying you that we have received your request. This does not confirm ticket availability or prices. It only indicates that we have received your request for those tickets and have begun the process for securing the requested tickets. Once the requested tickets have been secured by us, your credit card will be charged and you should receive an Order Confirmation or link to print your tickets confirming that your request has been finalized and we have purchased the tickets on your behalf. You should also receive a copy of your invoice. In some instances when the physical tickets or bar code electronic ticket are not yet available, the delivery update acts as your confirmation until the ticket is delivered. Your order may be finalized even if you do not receive an Order Confirmation, finalized invoice or an updated status email from us. If you have not heard from us, or have only received a confirmation that we received your ticket request, please call our office to check on your order.</p>
                <h2>6. CREDIT CARD PURCHASES</h2>
                <p>Any attempts to defraud GameHedge through the use of a credit card or otherwise may result in legal and criminal action brought against you. GameHedge notifies local and federal law enforcement authorities in cases of fraud or suspected fraud and aggressively and fully cooperates with investigations.</p>
                <p>GameHedge may request additional proof identity on any order prior to processing.</p>
                <p>Your credit card will be charged in accordance with the Order Confirmation/Processing section.</p>
                <h2>7. EVENT DATES AND TIMES</h2>
                <p>Event dates and times printed on the face of the tickets, or in any correspondence from GameHedge, are always subject to change. It is your responsibility to check for any possible changes in date and time.. You agree that GameHedge is not responsible for changes in date or time of the event, and that refunds will not be issued due to event dates or times being changed.</p>
                <h2>8. TICKET DELIVERY</h2>
                <p>If your tickets are being delivered via E-Mail, you will receive a document containing the actual tickets for the event. We monitor all outbound e-mails to ensure they are received by you.</p>
                <p>Choosing to have tickets shipped does not ensure that the ticket will be a hard ticket. All tickets shipped will be done so via an express delivery service (i.e., Federal Express, Express Mail, messenger, etc.) and will require an adult signature. We use express delivery services requiring signature to ensure that your tickets arrive safely and that they can be tracked at any time. It is your responsibility to track your package and to be available to accept the package. You agree to provide us with a secure delivery location and authorize someone at that address to act as your agent in your absence to accept delivery of the package. If you provide a delivery location other than your credit card billing location, you hereby specifically agree to be responsible for that delivery and the tickets once delivered to the address you specify. You agree not to dispute such charges. Your expected ticket arrival date is based on the actual date we ship the order.</p>
                <p>As example; if you choose “One Day Shipping” you will get your tickets one business day after the seller ships the tickets and not necessarily one business day after you place your order.</p>
                <p>If for any reason your tickets are returned to us, we will try to contact you to arrange for another delivery attempt. If you are unavailable or if you refuse delivery of your tickets, the tickets may be listed for sale on consignment with GameHedge at a price and on terms determined by GameHedge.</p>
                <h2>9. LOST OR STOLEN TICKETS</h2>
                <p>When you receive your tickets keep them in a safe place. Unfortunately, GameHedge cannot guarantee that tickets can be replaced if they are lost, stolen, or damaged.</p>
                <h2>10. CANCELLED EVENTS</h2>
                <p>If an event is cancelled for any reason other than an act of God (rainout, earthquake, flood, etc.), war, terrorism, strike, or lockout, we will provide a full refund for the amount that you paid for the tickets. Shipping charges are not refundable. TICKETS MUST BE RECEIVED BACK IN OUR OFFICE WITHIN 14 DAYS OF THE ANNOUNCEMENT OF THE EVENT CANCELLATION. In case of a rainout or strike for a sporting event, no refunds will be made.</p>
                <h2>11. POSTPONED OR RESCHEDULED EVENTS</h2>
                <p>If an event is postponed or rescheduled, the tickets will be honored for the rescheduled event date. New tickets will not need to be issued for most rescheduled events or postponements. Since we are unable to recover our costs on the tickets that we acquired for you, we in turn are unable to offer customers refunds on postponed or rescheduled events.</p>
                <h2>12. VENUE CHANGES</h2>
                <p>In the case that an event is relocated to a different venue, tickets for the new venue will be provided if necessary and a refund will not generally be given. Exact refund and exchange policies are determined on a show-by-show basis by the venues and performers. If seating is not available at the new venue a refund will be offered.</p>
                <h2>13. TAX AND SHIPPING CHARGES</h2>
                <p>Generally, you will not have to pay sales tax on your order. In some rare circumstances tickets may be required have a tax added to the order, you will be notified of the additional tax amount within 24 hours of ordering your tickets. Shipping charges are calculated based on delivery location and shipping method.</p>
                <h2>14. TRANSLATION POLICY</h2>
                <p>In the event that any statement in any translated version of this Website conflicts with the English version, the statement in the English version shall prevail.</p>
                <h2>15. LIMITATIONS OF LIABILITY</h2>
                <p>Under no circumstances shall GameHedge be liable to any ticket purchaser or user of GameHedge in an amount in excess of the amount received by GameHedge from the ticket purchaser.</p>
                <p>GameHedge and you agree that any and all claims that may be brought against each other must be brought on an individual basis and not as a member of a purported class or representative action or proceeding.</p>
                <p>GameHedge is not responsible for providing transportation or reimbursement of travel-related expenses under any circumstances unless those items are specifically included as part of a package. Nor are we responsible for any delay causing you to arrive late or miss your event for any reason. Any actions by our company that do result in you missing your event will be rectified with our liability not exceeding 100% of your total purchase price. GameHedge is not responsible for the conditions or the actions of the crowd at any event nor is GameHedge responsible for any changes made at the venue including, but not limited to, seating arrangements, stage set-up, or venue conditions.</p>
                <p>The tickets that you purchase from us are valid. If someone is sitting in your assigned seat, it is your responsibility to ask them to move or to ask an usher to assist you. </p>
                <p>Customer acknowledges and concedes that all transactions take place in the State of New Jersey and all purchases, the use of the Site and these Terms and Conditions are governed by the laws of the State of New Jersey without giving effect to principles of conflicts of law.  In the event that we are required to seek legal remedies to recover fees and/or resolve disputes, customer agrees that we are entitled to recover all costs associated with such action by the customer, including but not limited to reasonable attorney's fees and administrative costs. Any legal action in connection with this Agreement must be brought in the State of New Jersey and you and GameHedge agree to submit to the exclusive jurisdiction of the State of New Jersey.</p>
            </section>
        </div>
    </main>
    
</section>