<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" method="POST" action="/search/">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="<%= image_url 'search icon.png' %>">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                  </div>
                </form>
              </div>
              <p class="hidden-xs hidden-sm">Every Ticket Comes With Our Good Game Guarantee!</p>
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <main id="press_container">
        <div class="container">
            <h4 class="text-center" style=" font-size:35px;">GameHedge News</h4>
            <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 text-center press-info">
                    <img src="<%= image_url 'press2/USAToday.png' %>">
                    <p><a target="_blank" href="http://www.usatoday.com/story/sports/mlb/2016/06/15/gamehedge-refunds-50-percent-ticket-price-if-home-team-loses-big/85931138/">USA Today: Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Sports Illustrated Red.png' %>">
                    <p><a target="_blank" href="http://www.si.com/tech-media/2016/06/24/gamehedge-cash-money-back">Sports Illustrated: GameHedge gives cash back on ticket purchases for bad games</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Scout.png' %>">
                    <p><a target="_blank" href="http://www.scout.com/story/1679115-ticket-website-offer-refunds-for-losing">Scout:  New Ticket Website Rewarding Fans of Bad Teams</a></p>
                    <br>
                    <img src="<%= image_url 'press2/CNBC-logo.png' %>">
                    <p><a target="_blank" href="http://www.cnbc.com/2016/06/17/upstarts-bring-new-game-to-resale-tickets-for-fans.html">CNBC:  Upstarts bring new game to resale tickets for fans</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Crains NY Black.png' %>">
                    <p><a target="_blank" href="http://www.crainsnewyork.com/article/20160621/TECHNOLOGY/160629961/sports-ticket-reseller-offers-refunds-if-your-team-gets-waxed">Crain's NY:  Sports-ticket reseller offers refunds if your team gets waxed</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Yahoo Finance.png' %>">
                    <p><a target="_blank" href="http://finance.yahoo.com/news/gamehedge-launches-revolutionary-sports-ticket-130800271.html;_ylt=AwrC1DHW.GJXoREA8xWTmYlQ;_ylu=X3oDMTEzc2p0NzZlBGNvbG8DYmYxBHBvcwMyBHZ0aWQDVklEUFJEXzEEc2VjA3Nj">Yahoo Finance: GameHedge Launches Revolutionary Sports Ticket Marketplace Created To Give Something Back To Loyal Fans When The Game Doesn't Go Their Way</a></p>
                    <br>
                    <img src="<%= image_url 'press2/SportTechie SM.png' %>">
                    <p><a target="_blank" href="http://www.sporttechie.com/2016/06/23/gamehedge-gives-you-money-back-if-your-team-performs-poorly/">Sport Techie: GameHedge Gives You Money Back If Your Team Performs Poorly</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Yardbarker.png' %>">
                    <p><a target="_blank" href="http://www.yardbarker.com/mlb/articles/new_ticket_website_offers_fans_refunds_for_home_team_blowouts/s1_13156_21116701">Yardbarker: New ticket website offers fans refunds for home-team blowouts</a></p>
                    <br>
                    <img src="<%= image_url 'press2/MSN.png' %>">
                    <p><a target="_blank" href="http://www.msn.com/en-us/sports/mlb/ticket-marketplace-offers-refunds-if-team-loses-big/ar-AAh5Gl9">MSN: Ticket marketplace offers refunds if team loses big</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Comeback.png' %>">
                    <p><a target="_blank" href="http://thecomeback.com/blog/tech/ticket-website-blowouts-refunds.html">The Comback: New Ticket Website Offers Fans Refund For Home-Team blowouts </a></p>
                    <br>
                    <img src="<%= image_url 'press2/Daily Dot.png' %>">
                    <p><a target="_blank" href="http://www.dailydot.com/entertainment/game-hedge-secondary-ticket-launches/">The Daily Dot: The ticket app that will give you a refund if the game sucks</a></p>
                    <br>
                    <img src="<%= image_url 'press2/vocativ.png' %>">
                    <p><a target="_blank" href="http://www.vocativ.com/330153/refunds-for-blowout-games-this-startup-is-trying-it/">Vocativ: Refunds For Blowout Games? This Startup Is Trying It</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Baseball Prospectus.png' %>">
                    <p><a target="_blank" href="http://www.baseballprospectus.com/article.php?articleid=29564">Baseball Prospectus:  BP Daily Podcast</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Kare 11.png' %>">
                    <p><a target="_blank" href="http://www.kare11.com/news/ticket-marketplace-to-offer-refunds-if-home-team-loses-big/245569067">Kare 11:  Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="<%= image_url 'press2/ESPN 980.png' %>">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/gamehedge-on-espn980-radio-dmv-game-time-washington-dc">ESPN 980 Radio: DMV Game Time</a></p>
                    <br>
                    <img src="<%= image_url 'press2/700 WLW.png' %>">
                    <p><a target="_blank" href="http://m.700wlw.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">700 LWL: What about this "Good Game Guarantee" at GABP?</a></p>
                    <br>
                    <img src="<%= image_url 'press2/Fox 910AZ2.png' %>">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/fox-sports-910am-the-freaks-wkenny-and-crash-phoenix-az">Fox Sports 910am The Freaks with Kenny and Crash</a></p>
                    <br>
                    <img src="<%= image_url 'press2/ESPN 1530.png' %>">
                    <p><a target="_blank" href="http://espn1530.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">ESPN1530 Radio: What about this "Good Game Guarantee" at GABP?</a></p>
                    <p style="margin-top: 50px;">Contact us: Public Relations</p>
                    <p>Press Inquiry</p>
                    <p><a target="_blank" href="mailto:press@gamehedge.com">press@gamehedge.com</a></p>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </main>
</section>