<% content_for :title, "Gamehedge - Contact Us" %>

    <div class="view-container">
        <div class="view-frame animate-view">
            
            <section id="home">
                <section id="hero">
                    <div id="shader"></div>
                    <div id="wrapper">
                      <div id="content">
                        <div class="container">
                          <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
                          <div id="hero-search">
                            <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                              <input type="hidden" name="type" value="full" />
                              <div class="form-group">
                                <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                                <input id="search_element" type="text" class="form-control typeahead" placeholder="Search team, venue or player..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                            </form>
                          </div>
                          
                        </div>
                        <div class="press-images hidden-xs hidden-sm">
                          <div class="container">
                            <div class="spacing-div">AS FEATURED IN</div>
                            <div class="spacing-div"><img src="<%= image_url "press2/CNBC copy.png" %>"></div>
                            <div class="spacing-div"><img src="<%= image_url "press2/USA Today copy.png" %>"></div>
                            <div class="spacing-div"><img src="<%= image_url "press2/Sports Illustrated Red.png" %>"></div>
                            <div class="spacing-div"><img src="<%= image_url "press2/Yahoo Finance.png" %>"></div>
                            <div class="spacing-div"><img src="<%= image_url "press2/ESPN Radio copy.png" %>"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </section>

                <main id="contact_container">
                        <div class="container">
                            <h1 class="text-center">CONTACT US</h1>
                            <section id="contact-us">
                                <div class="row">
                                    <div class="col-md-12 text-center" style="font-size:18px; margin-bottom:10px;">
                                        <img width="40px" src="<%= image_url 'icon_home.png' %>"><div style="display:inline; margin-left:10px;">GameHedge 1460 Broadway New York, NY 10036</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12 text-center">
                                            <img width="100" src="<%= image_url 'phone_icon_grey.png' %>">
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <h3>(888) 804-4330</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12 text-center">
                                            <img width="100" src="<%= image_url 'email_icon_grey.png' %>">
                                        </div>
                                        <div class="col-md-12 text-center contact-mobile">
                                            <h3><a href="mailto:support@gamehedge.com">support@gamehedge.com</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><h2 class="text-center">- OR -</h2></div>
                                </div>
                                <div class="row contact-form">
                                   
                                        <form name="contactForm" class="form-horizontal" onsubmit="return false;">
                                            <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
                                                <label for="name" class="col-sm-2 control-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control form-input" name="name" placeholder="First & Last Name" required>
                                                    <p class="help-block hidden" id="name_required">You name is required.</p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                                                <label for="email" class="col-sm-2 control-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control form-input"name="email" placeholder="example@domain.com" required>
                                                    <p class="help-block hidden" id="email_required">Enter a valid email.</p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                                                <label for="message" class="col-sm-2 control-label">Message</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control form-input" rows="4" name="message" required></textarea>
                                                    <p class="help-block hidden" id="message_required">Enter a message.</p>
                                                </div>
                                            </div>
                                            <div class="form-group" id="answer_holder" ng-class="{ 'has-error' : contactForm.human.$invalid && !contactForm.human.$pristine }">
                                                <label for="human" class="col-sm-2 control-label" id="human_answer"></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control myCustomRule form-input" name="human" placeholder="Your Answer" required autocomplete='off'>
                                                    <p class="help-block hidden" id="answer_required">The answer is required.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <button class="btn btn-primary" id="send_btn" onclick="sendForm();">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    
                                </div>
                            </section>
                        </div>
                </main>
                
            </section>


        </div>
    </div>
    


<%= javascript_include_tag 'bootstrap3-typeahead.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'ladda.min', 'data-turbolinks-track' => true %>





<script>
  $(document).ready(function(){
    $(".intro-full").addClass("hidden");
      //*******************************Typeahead INIT****************************************
    var now = new Date();
    now.setHours(now.getHours() + 1);
    var today_date = [[AddZero(now.getFullYear()), AddZero(now.getMonth() + 1), now.getDate()].join("-"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
    function AddZero(num) {
        return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    $('.typeahead').typeahead({
      source: function (query, process) {
        return $.get("/search", { search: query, limit: 4, today_date: today_date }, function (data) {
          return process(data);
        });
      },
      afterSelect: function (item) {
        console.log(item.url);
        window.location.href = item.url;
      },
      fitToElement: true,
    });
      //*******************************Typeahead INIT end****************************************
      //*******************************Human verification****************************************


    $("#send_btn").prop( "disabled", true );
    value_1 = Math.floor((Math.random() * 10) + 1);
    value_2 = Math.floor((Math.random() * 10) + 1);
    answer = value_1 + value_2;
    $("#human_answer").html(String(value_1) + " + " + String(value_2)+" = ?");
    $(".form-input").keyup(function(){
        switch($(this).attr("name")){
            case "name":
                if($('input[name=name]').val() == ""){
                    $("#name_required").removeClass("hidden");
                }
                else{
                    $("#name_required").addClass("hidden");
                }
                break;
            case "email":
                if($('input[name=email]').val() == "" || !isValidEmailAddress($('input[name=email]').val())){
                    $("#email_required").removeClass("hidden");
                }
                else{
                    $("#email_required").addClass("hidden");
                }
                break;
            case "message":
                if($('textarea[name=message]').val() == ""){
                    $("#message_required").removeClass("hidden");
                }
                else{
                    $("#message_required").addClass("hidden");
                }
                break;
            case "human":
                if($('input[name=human]').val() == ""){
                    $("#answer_required").removeClass("hidden");
                }
                else{
                    $("#answer_required").addClass("hidden");
                }
                break;
                
        }
        var valid = true;
        if($('input[name=name]').val() == ""){
            valid = false;
        }
        if($('input[name=email]').val() == "" || !isValidEmailAddress($('input[name=email]').val())){
            valid = false;
        }
        if($('textarea[name=message]').val() == ""){
            valid = false;
        }
        if($('input[name=human]').val() == ""){
            valid = false;
        }
        if(valid == true){
            $("#send_btn").prop( "disabled", false );
        }
        else{
            $("#send_btn").prop( "disabled", true );
        }

    });
    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };
    //*******************************Human verification****************************************
  });
    function sendForm(){
        if(Number($('input[name=human]').val()) != answer){
            $("#send_btn").prop( "disabled", false );
            $("#answer_holder").addClass("has-error");
            swal("Error", "The answer is wrong. Please check and try again.", "error");
        }
        else{
            $("#answer_holder").removeClass("has-error");
            var l = Ladda.create( document.querySelector('#send_btn'));
            l.start();
            $.ajax({
                method: "GET",
                url: "/contact/send_message?name=" + $('input[name=name]').val() + "&email=" + $('input[name=email]').val() + "&message=" + $('input[name=message]').val(),
                success: function(){
                    l.stop();
                    swal({   
                        title: "Thanks for contact us",   
                        text: "Our team will respond as soon as possible.",   
                        type: "success",    
                        closeOnConfirm: false 
                    }, 
                    function(){   
                        swal.close();
                        $location.path('/');
                        $scope.$apply();
                    });
                }
            });
        }
    }
  
</script>
   
