<% content_for :title, "Gamehedge -" + @performer.name %>

    <div class="view-container">
      <div class="view-frame animate-view">
        <span id="home" class=performers>
          <section id="hero" style="background: transparent url(<%= @performer.image_cover %>) center;background-size:cover;">
            <div id="shader"></div>
            <div id="wrapper">
              <div id="content">
                <div class="container">
                  <p class="hidden-md hidden-lg hidden-xl"><%= @performer.name %> Tickets</p>
                  <div id="hero-search" class="">
                    <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                      <input type="hidden" name="type" value="full" />
                      <div class="form-group">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                        <input id="search_element" type="text" class="form-control typeahead" placeholder="Search team, venue or player..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                      </div>
                    </form>
                  </div>
                  <h1 class="hidden-xs hidden-sm"><%= @performer.name %> Tickets</h1>
                </div>
              </div>
            </div>
          </section>

          <script type="text/ng-template" id="typeahead/bind-node.html">
            <a href="#" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
          </script>
          <section id="good-game-guarantee" class="hidden-xs hidden-sm">
            <div class="container">
              <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

              <div class="content-background">
                <div class="content">
                  <div class="col-md-4 division">
                    <div class="col-xs-5 section">
                      <img src="<%= image_url "icon ticket.png" %>">
                    </div>
                    <div class="col-xs-7 section2">
                      <h2>BUY TICKETS</h2>
                      <p>
                        Find your game and purchase your tickets.<br>
                        Good Game Guarantee is included at no additional cost with every ticket.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 division center-div">
                    <div class="col-xs-5 section">
                      <img src="<%= image_url "icon stadium.png" %>">
                    </div>
                    <div class="col-xs-7 section2">
                      <h2>ENJOY GAME</h2>
                      <p>
                        If the home team loses by <%= @performer.sport.ggg %> or more, you get 50% of ticket price back.
                      </p>
                      <!-- <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "football icon.png" %>">
                        17 points
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "basketball icon.png" %>">
                        20 points
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "baseball icon.png" %>">
                        5 runs
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="<%= image_url "hockey icon.png" %>">
                        4 goals
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-4 division">
                    <div class="col-xs-5 section">
                      <img src="<%= image_url "icon coin.png" %>">
                    </div>
                    <div class="col-xs-7 section2">
                      <h2>CLAIM MONEY</h2>
                      <p>
                        Simply come back to GameHedge.com to claim your refund.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> 
          
          <section id="performer">
            <div class="container" >
              <div class="row">
                <div class="col-md-9 text-center event-main-holder">
                  <div class="btns-container">
                    <button onclick="toogleHome(true)" class="active btn_filter" id="all_games">
                      All games
                    </button>
                    <button onclick="toogleHome(false)" class="btn_filter" id="home_games">
                      Home Games only
                    </button>
                  </div>
                  <span id="event-holder-async">
                    
                  </span>
                  <div id="home-loading-data" class="row horizontal-center" ng-if="loading">
                    <div class='uil-default-css' style='transform:scale(0.32);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
                  </div>
                  <button onclick="loadMore();" class="load-more-btn">Load more</button>
                </div>
                <div class="col-md-3 ggg-container">
                  <div class="title">
                    <h2>STAY UP TO DATE</h2>
                    <p>Sign up for savings, info and more!</p>
                    <form name="up_date_form" ng-submit="sendPerformerEmailRequest()" novalidate>
                        <div class="form">
                          <input type="email" name="email" ng-model="up_date_email"placeholder="example@example.com" required autocomplete="off">
                          <button ladda="up_date_email_proccessing" ng-disabled="up_date_form.$invalid" >SEND</button>
                        </div>
                        <p ng-show="up_date_form.email.$invalid && !up_date_form.email.$pristine" class="help-block footer-form-msg">Enter a valid email.</p>
                    </form>
                  </div>
                  <% if @testimonials.length > 0 %>
                    <div class="body">
                      <h2>TESTIMONIALS</h2>
                      <p>Why <%= @performer.name %> fans love GameHedge!</p>
                      <% @testimonials.each do |t| %>
                        <div class="testimonial">
                          <img src="<%= image_url "quote icon.png" %>" class="quote">
                          <p>
                            <%= t.description %><br><br>
                            <span class="author"><%= t.author %></span>
                          </p>
                          <div class="img-container">
                            <img src="<%= t.image_url_thumb %>">
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </section>

          <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
              <div class="container">
                <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

                <div class="content-background-mobile">
                  <div class="content-mobile">
                     <slick settings="slickConfig">
                        
                        <div class="row table-element">
                          <div class="section-mobile table-ele-cell first-ele">
                            <img src="<%= image_url 'icon ticket.png' %>">
                          </div>
                          <div class="section2-mobile table-ele-cell second-ele">
                            <h2>BUY TICKETS</h2>
                            <p>
                              Find your game and purchase your tickets.<br>
                              Good Game Guarantee is included at no additional cost with every ticket.
                            </p>
                          </div>
                        </div>
                        <div class="row table-element">
                          <div class="section-mobile table-ele-cell first-ele">
                            <img src="<%= image_url 'icon stadium.png' %>">
                          </div>
                          <div class="section2-mobile table-ele-cell second-ele">
                            <h2>ENJOY GAME</h2>
                            <p>
                              If the home team loses by <%= @performer.sport.ggg %> or more, you get 50% of ticket price back.
                            </p>
                            <!--div class="row">
                              <div class="fifty-perc block">
                                <img class="icon-img" src="<%= image_url 'football icon.png' %>">
                                <div>17 points</div>
                              </div>
                              <div class="fifty-perc block">
                                <img class="icon-img" src="<%= image_url 'basketball icon.png' %>">
                                <div>20 points</div>
                              </div>
                            </div-->
                            <!--div class="row">
                              <div class="fifty-perc block">
                                <img class="icon-img" src="<%= image_url 'baseball icon.png' %>">
                                <div>5 runs</div>
                              </div>
                              <div class="fifty-perc block">
                                <img class="icon-img" src="<%= image_url 'hockey icon.png' %>">
                                <div>4 goals</div>
                              </div>
                            </div-->
                          </div>
                        </div>
                        <div class="row table-element">
                          <div class="section-mobile table-ele-cell first-ele">
                            <img src="<%= image_url 'icon coin.png' %>">
                          </div>
                          <div class="section2-mobile table-ele-cell second-ele">
                            <h2>CLAIM MONEY</h2>
                            <p>
                              Simply come back to GameHedge.com to claim your refund.
                            </p>
                          </div>
                        </div> 
                        
                    </slick>
          
                      
                      
                      
                  </div>
                </div>
              </div>
          </section> 

          <section id="about">
            <div class="container">
              <div class="container">
                <div class="page-title">About <%= @performer.name %></div>
                <div class="row">
                  <div class="col-xs-12 description" bind-unsafe-html="performer.description">
                    
                  </div>
                </div>
                <div class="page-title"><%= @performer.venue.name %> and GameHedge</div>
                <div class="row">
                  <div class="col-xs-12 description" bind-unsafe-html="performer.venue_description">
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
        </span>
        </div>
    </div>
    
</div>

<%= javascript_include_tag 'bootstrap3-typeahead.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'moment', 'data-turbolinks-track' => true %>

<script>
  $(document).ready(function(){
    $(".intro-full").addClass("hidden2");
    //*******************************Typeahead INIT****************************************
    var now = new Date();
    htm = "";
    page = 1;
    all_games = true;
    now.setHours(now.getHours() + 1);
    var today_date = [[AddZero(now.getFullYear()), AddZero(now.getMonth() + 1), now.getDate()].join("-"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
    function AddZero(num) {
        return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    $('.typeahead').typeahead({
      source: function (query, process) {
        return $.get("/search", { search: query, limit: 4, today_date: today_date }, function (data) {
          return process(data);
        });
      },
      afterSelect: function (item) {
        console.log(item.url);
        window.location.href = item.url;
      },
      fitToElement: true,
    });
    getEvents();
      //*******************************Typeahead INIT end****************************************
      
  });

  function toogleHome(t){
    all_games = t;
    if(all_games == true){
      $("#all_games").addClass("active");
      $("#home_games").removeClass("active");
    }
    else{
      $("#all_games").removeClass("active");
      $("#home_games").addClass("active");
    }
    page = 1;
    $("#event-holder-async").html("");
    getEvents();
  }

  function loadMore(){
    page += 1;
    getEvents();
  }

  function getEvents(){
    $("#home-loading-data").removeClass("hidden");
    $(".load-more-btn").addClass("hidden");
    var now = new Date();
    now.setHours(00,00,01);
    var today_date = [[AddZero(now.getFullYear()), AddZero(now.getMonth() + 1), now.getDate()].join("-"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
    function AddZero(num) {
      return (num >= 0 && num < 10) ? "0" + num : num + "";
    }
    var url = "";
    if(all_games == true){
      url = '/api/v1/events/?selected_team=<%= @id %>&today_date='+today_date+'&page='+page+'&per_page=10';
    }
    else{
      url = '/api/v1/events/?selected_team=<%= @id %>&today_date='+today_date+'&page='+page+'&per_page=10&home_performer_id=<%= @id %>';
    }
    $.ajax({
      method: 'get',
      url: url,
      headers: {
         'Authorization': 'Token token="TokenHere"'
      },
      success: function(response){
        var events = response.data;
        console.log(events);
        htm = $("#event-holder-async").html();
        for(i=0;i<events.length;i++){
          var event = events[i];
          var event_date = moment(event.occurs_at.replace("Z",""));
          var date_text = "";
          var btn = "";
          if(event_date.format('hh:mm A') == '12:00 AM'){
            date_text = 'TBD at <a href="'+event.venue.url+'">'+event.venue.name+'</a> - '+event.location;
          }
          else{
            date_text = event_date.format('hh:mm A')+' at <a href="'+event.venue.url+'">'+event.venue.name+'</a> - '+event.location;
          }
          if(moment().add(1,'h').isAfter(event.occurs_at.replace("Z",""))){
            btn = '<a class="a-btn vertical-center" href="" style="cursor:default;">Sold Out</a>'
          }
          else{
            btn = '<a class="a-btn vertical-center" href="'+event.url+'">Buy Tickets</a>'
          }
          htm += '<div class="row event-holder-back"><div class="event-holder"><div class="col-md-2 col-xs-3 date-holder"><p class="date1">'+event_date.format('MMM').toUpperCase()+'</p><p class="date2">'+event_date.format('DD')+'</p><p class="date3">'+event_date.format('ddd')+'</p></div><div class="col-md-10 col-xs-9 event-info-container"><div class="col-xs-12 col-md-9 event-info"><span><p class="first-line"><a href="'+event.url+'">'+event.name+'</a></p><p class="second-line">'+date_text+'</p></span></div><div class="col-xs-12 col-md-3">'+btn+'</div></div></div></div>';
        }
        htm = $("#event-holder-async").html(htm);
        $("#home-loading-data").addClass("hidden");
        if(events.length >= 10){
          $(".load-more-btn").removeClass("hidden");
        }
            
      },
      error: function(response){
        $("#home-loading-data").addClass("hidden");
      },
    });
  };





  




</script>