<!DOCTYPE html>
<html ng-app="gamehedge">
  <head>
    <title ng-bind="$root.title"></title>
    <meta name="description" content="{{$root.description}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="fragment" content="!">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"></noscript>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

      
   <!--  <link rel="preload" href="https://dynamicvenuemaps.com/maps/css/style_maps.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://dynamicvenuemaps.com/maps/css/style_maps.css"></noscript> -->
      
    <%= csrf_meta_tags %>
      
    <style>
      .intro-full {
          width: 100%;
          height: 100%;
          position: fixed;
          z-index: 9999999999999;
          background-color: black;
      }

      .intro-img-container{
          position: absolute;
          width: 300px;
          height: 60px;
          top: 50%;
          left: 50%;
          margin-left: -150px;
          margin-top: -30px;
      }  
    </style>
      <!-- begin olark code -->
  <noscript><a href="https://www.olark.com/site/2065-539-10-9682/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->
      
      
      <!-- Facebook Pixel Code -->
    
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1221171167912729&ev=PageView&noscript=1" alt="Facebook"
      /></noscript>
      <!-- End Facebook Pixel Code -->
  </head>
      
  <body ng-class="{'no-scrolling': $root.showMenu}" >
    <div class="hidden" ng-controller="MainScreenController">
      <div id="initial_scripts">
        
      </div>
    </div>
    <script type="text/javascript">
      var info_url = "<%= image_url 'icon__info_1x.png' %>";
    </script>
    <%= yield %>
    <p class="notice hidden"><%= notice %></p>
    <p class="alert hidden"><%= alert %></p>
    
    <noscript><img src="//bat.bing.com/action/0?ti=5255950&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
        
    <!-- Twitter universal website tag code -->
 
    <!-- End Twitter universal website tag code -->
    <div id="mcafee-seal" class="hidden">
      <script src="https://cdn.ywxi.net/js/inline.js?w=74"></script>
    </div>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  </body>
</html>