<!DOCTYPE html>
<!-- <html ng-app="gamehedge"> -->
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="description" content="{{$root.description}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="fragment" content="!">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"></noscript>
      
    <link rel="preload" href="https://dynamicvenuemaps.com/maps/css/style_maps.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://dynamicvenuemaps.com/maps/css/style_maps.css"></noscript>
      
    <%= csrf_meta_tags %>
      
    <style>
      .intro-full {
          width: 100%;
          height: 100%;
          position: fixed;
          z-index: 9999999999999;
          background-color: black;
      }

      .intro-img-container{
          position: absolute;
          width: 300px;
          height: 60px;
          top: 50%;
          left: 50%;
          margin-left: -150px;
          margin-top: -30px;
      }  
    </style>
      <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('2065-539-10-9682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/2065-539-10-9682/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->
      
      
      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1221171167912729');
      fbq('track', "PageView");</script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1221171167912729&ev=PageView&noscript=1" alt="Facebook"
      /></noscript>
      <!-- End Facebook Pixel Code -->
  </head>
      
  <body ng-class="{'no-scrolling': $root.showMenu}" data-no-turbolink='true'>
    <div class="hidden">
      <div id="initial_scripts">
        
      </div>
    </div>
    <script type="text/javascript">
      var info_url = "<%= image_url 'icon__info_1x.png' %>";
    </script>
                                                          <!-- MOBILE MENU -->



    <!-- <div class="mobile-menu main-menu-transition hidden">
        <div class="mobile-menu-header">
            <div class="row">
                <div class="col-xs-2">
                    <div ng-click="hideMenus()">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/close-menu.png" class="img-header">
                    </div>
                </div>
                <div class="navbar-header col-xs-8">
                    <a href="/" ng-click="hideMenus()">
                        <img class="logo-image menu" alt="GameHedge.com" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/logo.png">
                    </a>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="menu-container">
            <div class="row menu-row" ng-show="!$root.isLoggedin">
                <div class="col-xs-3"><img class="user-icon" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/profile icon.png"></div>
                <div class="col-xs-9"><a href="/login" ng-click="hideMenus()">Login</a></div>
            </div>
            <div class="row menu-row" ng-show="$root.isLoggedin">
                <div class="col-xs-3"><img class="user-icon" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/profile icon.png"></div>
                <div class="col-xs-9"><p >{{$root.user.name | uppercase}}</p></div>
            </div>
            <div class="row menu-row" ng-show="$root.isLoggedin">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a href="/member" ng-click="hideMenus()">Your profile</a></div>
            </div>
            <div class="row menu-row" ng-show="$root.isLoggedin">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a  href="/order_history" ng-click="hideMenus()">Order history</a></div>
            </div>
            <div class="row menu-row" ng-show="$root.isLoggedin">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a ng-click="logout()" ng-click="hideMenus()">Logout</a></div>
            </div>

            <div class="row menu-row separator" ng-repeat-start="league in leagueList" ng-if="$first">
                <div class="col-xs-3" ng-if="league.active == true"></div>
                <div class="col-xs-9" ng-if="league.active == true"><a href="{{league.url}}" ng-click="hideMenus()" >{{league.name | uppercase}}</a></div>
            </div>
            <div class="row menu-row" ng-repeat-end ng-if="!$first">
                <div class="col-xs-3" ng-if="league.active == true"></div>
                <div class="col-xs-9" ng-if="league.active == true"><a href="{{league.url}}" ng-click="hideMenus()" >{{league.name | uppercase}}</a></div>
            </div>
            <div class="row menu-row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a href="/faq/" ng-click="hideMenus()">FAQ</a></div>
            </div>
            <div class="row menu-row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a href="tel:8888044330">Toll Free: 888-804-4330</a></div>
            </div>
            <div class="row menu-row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9"><a href="/contact/" ng-click="hideMenus()">Contact Us</a></div>
            </div>
        </div>
        <div class="mobile-menu-footer">
            <h2>Connect with us</h2>
            <nav role="navigation" class="footer-social-media">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/facebook-footer.png" alt="Like GameHedge on Facebook" /></a>          
                        </div>
                        <div class="col-xs-4">
                            <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/twitter-footer.png" alt="Foollow GameHedge on Twitter" /></a>          
                        </div>
                        <div class="col-xs-4">
                            <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/instagram-footer.png" alt="Like GameHedge on Instagram" /></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <script type="text/ng-template" id="typeahead/bind-node.html">
        <a href="{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
    </script>
    <div class="mobile-menu search-menu-transition ng-hide" ng-show="showSearchMenu" ng-if="!$root.isOrder">
        <div class="mobile-menu-header">
                <div class="navbar-header search-header col-xs-10">
                    <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                    <input type="text" placeholder="search tickets" ng-model="searchTerm" ng-change="getSearchHints(searchTerm)">
                </div>
                <div class="col-xs-2">
                    <div ng-click="hideMenus()">
                        <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/close-menu.png" class="img-header">
                    </div>
                </div>
            
        </div>
        <div class="results-container">
            <div ng-repeat="result in searchResults">
                <a ng-href="result.url" ng-click="hideMenus()" >{{result.name}}</a>
            </div>
        </div>
        <div class="mobile-menu-footer">
            <h2>Connect with us</h2>
            <nav role="navigation" class="footer-social-media">
                
                <div class="col-xs-4">
                    <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/facebook-footer.png" alt="Like GameHedge on Facebook" /></a>          
                </div>
                <div class="col-xs-4">
                    <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/twitter-footer.png" alt="Follow GameHedge on Twitter" /></a>          
                </div>
                <div class="col-xs-4">
                    <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/instagram-footer.png" alt="Like GameHedge on Instagram" /></a>
                </div>
           
            </nav>
        </div>
    </div> -->
                                                                        <!-- END MOBILE MENU -->
  <span ng-app="gamehedge">
    <div>
        <div class="intro-full fade-intro" ng-if="page_loading == true">
            <div class="intro-img-container">
                <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/GameHedge_Logo_Footer.png" alt="Gamehedge" width="300" class="img-intro-full"/>
            </div>
        </div>
        <div id="head-container">
            <nav class="navbar navbar-default navbar-gamehedge vertical-center" role="navigation">

                <div class="col-xs-2 hidden-md hidden-lg">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#slideMenu" data-canvas="body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="navbar-header col-md-4 col-xs-8">
                    <a href="/">
                        <img class="logo-image" alt="GameHedge.com" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/logo.png">
                    </a>
                </div>


                
                <div class="col-xs-2 hidden">
                    <div class="navbar navbar-default navbar-fixed-top right">
                        <button type="button" class="navbar-toggle search-button" style="padding-top:0;" data-toggle="offcanvas" data-target="#searchMenu" data-canvas="body" ng-click="showSlideSearch()">
                            <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/search icon.png">
                        </button>
                    </div>
                </div>


                <div class="col-md-4 hidden-sm hidden-xs horizontal-center main-menu">
                  <% @leagueList.each do |league| %>
                    <ul class="nav navbar-nav navbar-leagues vertical-center horizontal-center">
                      <li class="dropdown main-dropdown yamm-fw">
                        <a class="dropdown-toggle" href="<%= league.url %>"><%= league.name.upcase %></a>
                        <% if league.name == 'MLB' || league.name == 'NBA' %>
                           <ul class="dropdown-menu size1">
                        <% elsif league.name == 'NFL' %>
                          <ul class="dropdown-menu size2">
                        <% elsif league.name == 'NHL' %>
                          <ul class="dropdown-menu size3">
                        <% elsif league.name == 'NCAAFB' %>
                          <ul class="dropdown-menu size4">
                        <% end %>
                          <li>
                            <% if league.id == 5 %>
                              <div class="yamm-content">
                                <div class="text-center">
                                  <% @divisions_menu.where(sport_id: league.id).order(:name).each_with_index do |division, ind| %>
                                    <div>
                                      <% if ind % 3 == 0 %>
                                        <div class="clearfix"></div>
                                      <% end %>
                                      <div class="col-xs-4">
                                        <div class="subtitle"><%= division.name.upcase %></div>
                                        <div class="performer-holder">
                                          <% @performers_menu.where(division_id: division.id).order(:name).each do |performer| %>
                                            <div>
                                              <a href="<%= performer.url %>"><%= performer.name %></a>
                                            </div>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            <% else %>
                              <div class="yamm-content">
                                <% @divisions_menu.where(is_main_division: true).where(sport_id: league.id).order(:name).each do |main_division| %>
                                  <div class="text-center">
                                    <div class="col-xs-12 title vertical-center horizontal-center"><%= main_division.name %></div>
                                    <% @divisions_menu.where(division_id: main_division.id).order(:name).each do |division| %>
                                      <% if league.name == 'MLB' || league.name == 'NBA' %>
                                        <div class="col-xs-4">
                                      <% elsif league.name == 'NFL' %>
                                        <div class="col-xs-3">
                                      <% elsif league.name == 'NHL' %>
                                        <div class="col-xs-6">
                                      <% end %>
                                        <div class="subtitle"><%= division.name.upcase %></div>
                                        <div class="performer-holder">
                                          <% @performers_menu.where(division_id: division.id).order(:name).each do |performer| %>
                                            <div>
                                              <a href="<%= performer.url %>" ><%= performer.name %></a>
                                            </div>
                                          <% end %>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  <% end %>
                </div>
                <div class="navbar-myaccount col-md-2 hidden-sm hidden-xs">
                    
                </div>
                <div class="navbar-myaccount col-md-2 hidden-sm hidden-xs">
                    <% if client_signed_in? %>
                      <div class="dropdown">
                        <button class="dropdown-toggle myaccount-btn" type="button" data-toggle="dropdown"><img class="user-icon" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/profile icon.png"><%= current_client.name.upcase %><img class="dropdown-icon" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/dropdown.png"></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/member">Your Profile</a></li>
                            <li><a href="/order_history">Order History</a></li>
                            <li><%= link_to "Logout", destroy_client_session_path, :method => :delete %></li>
                        </ul>
                      </div>
                    <% else %>
                      <div class="dropdown login">
                          <a href="/clients/sign_in"><img class="user-icon" src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/profile icon.png">LOGIN</a>
                      </div>
                    <% end %>
                </div>
            </nav>
        </div>
        <%= yield %>
    </div>
  </span>

   

                                                                        <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row hidden-xs hidden-sm" id="data_footer">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="footer-nav">
                        <h2>What to Know</h2>
                        <nav role="navigation">
                            <ul>
                                <li><a href="/our-terms">Terms</a></li>
                                <li><a href="/faq">Privacy</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="footer-nav">
                        <h2>Important Links</h2>
                        <nav role="navigation">
                            <ul>
                                <li><a href="/how_it_works">How it Works</a></li>
                                <% if client_signed_in? %>
                                  <li><a href="/member">My Account</a></li>
                                <% else %>
                                  <li><a href="/clients/sign_in">My Account</a></li>
                                <% end %>
                                <li><a href="/press">Press</a></li>
                                <li><a href="http://blog.gamehedge.com">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-nav">
                        <h2>Connect with us</h2>
                        <nav role="navigation" class="footer-social-media">
                            <a href="http://www.facebook.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/facebook-footer.png" alt="Like GameHedge on Facebook" /></a>
                            <a href="http://www.twitter.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/twitter-footer.png" alt="Follow GameHedge on Twitter" /></a>
                            <a href="http://www.instagram.com/gamehedge" target="_blank" class="hidden-sm hidden-xs"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/instagram-footer.png" alt="Like GameHedge on Instagram" /></a>
                            <div class="container hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a href="http://www.facebook.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/facebook-footer.png" alt="Like GameHedge on Facebook" /></a>          
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="http://www.twitter.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/twitter-footer.png" alt="Follow GameHedge on Twitter" /></a>          
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="http://www.instagram.com/gamehedge" target="_blank"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/instagram-footer.png" alt="Like GameHedge on Instagram" /></a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <h3>Enter email to receive updates and deals</h3>
                        
                        <form name="footer_form" ng-submit="sendEmailRequest()" novalidate>
                            <div class="footer-email-container">
                                <input type="email" name="email" ng-model="footer_email" class="form-control footer-input" required autocomplete="off">
                                <button ladda="footer_proccessing" ng-disabled="footer_form.$invalid" class="btn footer-btn">SEND</button>
                            </div>
                            <p ng-show="footer_form.email.$invalid && !footer_form.email.$pristine" class="help-block footer-form-msg">Enter a valid email.</p>
                        </form>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-nav text-center">
                        <div class="col-md-4"><img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/badge-gamehedge.png" alt="GameHedge" /></div>
                    </div>
                </div>
            </div>
            <div class="footer-signature">
                <img src="https://d2fj37dggc6l3c.cloudfront.net/assets/images/GameHedge_Logo_Footer.png" alt="Gamehedge" />
                <div class="footer-bottom clearfix">
                    © <%= @year %> GameHedge and Good Game Guarantee are trademarks of GameHedge LLC.<br>All Rights Reserved. Patent Pending.
                </div>
            </div>
        </div>
    </footer>
    <div growl></div>
                                                                        <!-- END FOOTER -->
    <p class="notice hidden"><%= notice %></p>
    <p class="alert hidden"><%= alert %></p>
    
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5255950"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5255950&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
        
    <!-- Twitter universal website tag code -->
    <script>
    !function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
    a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
    t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
    s.parentNode.insertBefore(t,s))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nuys0');
    twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->
    <div id="mcafee-seal" class="hidden">
      <script src="https://cdn.ywxi.net/js/inline.js?w=74"></script>
    </div>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  </body>
</html>
